[2014-10-10 09:34] xuhdev opened #1 "Android Client: installed but no laucher to launch"
Android version: 4.4.4
Phone: kltevzw (Galaxy S 5 verizon)

Even tap on the installed notification, nothing happened.

[2014-10-10 11:04] antonio-guillen opened #2 "Spanish translation of strings.xml"
<?xml version="1.0" encoding="utf-8"?>

<resources>

[code]

</resources>

[2014-10-10 13:39] #1 closed, assigned to nerzhul

[2014-10-10 13:39] #2 closed, assigned to nerzhul

[2014-10-23 12:23] theonlydoo opened #3 "[bug] Conversations splitted in two because of Intl number format"
from https://github.com/nerzhul/ocsms/issues/6#issuecomment-60221396, It might be a good idea to re-implement the international/local number mapping inside the app, ideed.

[2014-10-27 15:24] nnjeremy opened #4 "Errror message date"
Hi,
Thanks a lot for this application, I have an issue with the oc_ocsms_smsdatas.sms_date.
it's always the same value '2147483647' Screen : http://hpics.li/fef5634

I don't know if it's an error in the Owncloud App or in the Android App...
Please don't hesitate to contact me if you need more informations ;)

(sorry for my english I'm french...)

Thanks for your time.
Have a good day.

[2014-10-28 12:24] voodoos opened #5 "Synchronise by using timestamp instead of msg id comparison (was: Too heavy synchronisation process)"
On my phone are stored more than 20000 messages, thus making complete synchronizations very long (around fifteen minutes).
This is normal for a first sync, but it is the same each time the app synchronizes, and this cause a huge battery drain.

It seems that each synchronization compare all the messages. It should be far more efficient to sync only messages which are more recent than the last sync

[2014-10-28 12:28] voodoos opened #6 "Messages sent or received while data is disabled are not sync until next complete synchro"
Shouldn't the app queue sent and received messages to sync them as soon as the data connection is back ?

Indeed, if this is done well no more "complete syncs" would be needed...

[2014-11-03 00:33] enoch85 opened #7 "Also sync deleted messages with 2-way sync"
As it is today, the app syncs all the messages but doesn´t delete deleted messages, because deleted messages are not synced. The app should sync 2-way, not only from phone --> server.

[2014-11-04 10:05] Toobian opened #8 "Sync error"
When i create the account on my phone, the sync process failed with "Error 9: Server set unhandle...".
I tried with disable https and bug is always here.
Sorry but i have no more information.

[2014-11-19 10:06] #8 closed, assigned to nobody

[2014-11-19 10:52] Toobian opened #9 "Compatibility with Android 5 Lollipop"
I want to say #8 it's ok, but for that, I need an app compatible with Android 5 :D

Client

Android version: 5.0
Phone: Nexus 5

[2014-11-21 08:29] gringo1er opened #10 "[sync] owncloud sms tab empty"
Hello. My Android apps syncs normally, nothing seems to be strange on owncloud log (or IIS log) except that nothing syncs: the OCSMS tab remains empty: no conversation, no messages. The OCSMS commit is the one correcting the #9 error.
Thanx

[2014-11-30 17:20] gkleman opened #12 "Error #9 on synce"
During sync from Android phone, get "Fatal error ! Error #9: Server set unhandled HTTP return code

Messages are no longer being synced with owncloud

Server:
Owncloud version: 7.0.3
HTTPd server: Apache/2.2.22
MySQL 5.5.40

Client
Android version: 4.1.2
phone samsung sph-l300
OwnCloud SMS app version: 0.15.3

[2014-12-03 10:14] #9 closed, assigned to nerzhul

[2014-12-09 15:30] #4 closed, assigned to nerzhul

[2014-12-11 03:59] cengbrecht opened #20 "Enhancement: Ignoring specific conversations of texts?"
I would like to propose that we ignore conversations (Texts) that are from senders with less than 6 numbers for a number.
As most routing of phones requires a minimum of 7 numbers for a phone number to be valid.

(I get texts from my voicemail telling me I have voicemail, and its just stupid.)

[2014-12-12 12:20] #5 closed, assigned to nobody

[2014-12-12 16:27] #6 closed, assigned to nerzhul

[2014-12-12 16:35] #12 closed, assigned to nobody

[2014-12-16 14:51] jas4711 opened #21 "Fdroid?"
Have you considered pushing this app into fdroid?  Any reason doing so would be a bad idea?  I can look into it if you don't have anything against that.

[2014-12-29 09:53] #10 closed, assigned to nerzhul

[2014-12-31 23:34] frankerooney opened #22 "Install doesn't create a shortcut, running from play store doesn't work"
Hi. Just bought and installed the app from play store (LG G3 with lollipop) and it didn't install a shortcut, and doesn't work when I open it from the play store using the ... button from the search dialog (no other way available of opening it).
Strangely if I go into the list of apps in the play store there is an "open" button for all apps but this one, just uninstall available, the open option o

[2015-01-01 21:09] nerzhul commented on #22
Hi @frankerooney ,
There are no shortcut. OwnCloud SMS is a connector. Please go to Parameters => Account => Add Account.

[2015-01-01 21:12] frankerooney commented on #22
Ho hum, I look a bit thick then. I did have a quick look in accounts & sync but didn't add anything so the sms thing didn't show up. Thanks for your help!
andy

[2015-01-06 10:55] dvarum12 commented on #21
and mine :)
it is for open source apps

[2015-01-08 08:44] KLEINMIC opened #23 "No sms synched on first install neither when received/sent"
I installed the app on my server, in the appropriate directory, activated it in Owncloud, bought the Android app and created my owncloud-sms account.
It says it synchronizes, for a few seconds, but nothing appears in Owncloud.

Any solution ?

Thank you.

MK

[2015-01-08 12:59] nerzhul commented on #23
If sync doesn't tell an error please look at owncloud.log in your data folder and apache logs.

[2015-01-11 10:11] KLEINMIC commented on #23
Ok, according to the log file, I found the problem was coming from multiple adress book.
It is solved.

There is still a bunch of things to ameliorate : each time I close my Owncloud page, all SMS are uploaded again. 06.54.55... isnt the same as +336.54.55..., neither the same as 06 54 55... so the follow up is just impossible.
And finally, having a chance to send messages from the owncloud interf

[2015-01-11 10:59] nerzhul commented on #23
Hi @KLEINMIC,
 the multiple address book issue is not a ocsms problem it's a contact app problem from owncloud, look at previous issues. You have dot in your phone numbers ? I can easily fix it into server side. Server 1.4 will add great features but multiple address book issue cannot be fixed, because the contact app exception is unhandlable into ocsms. Chat app has the same problem as mine.

[2015-01-11 17:24] nerzhul commented on #23
https://github.com/nerzhul/ocsms/issues is the repo for server side, the deduplication is in the way. ocsms owncloud app v1.4 will fix the issue by selecting your country, and then convert your local phone numbers to intl phone numbers.
Sending from ocsms app is a little bit more difficult than sync, because i need to find the proper way to do it, a syncer is not the best thing to do it and there

[2015-01-18 16:08] nerzhul commented on #22
HI @frankerooney sorry for to be late. I'm looking at your issue but i have problem with Eclipse today. I'll add a shortcut to help new users to use owncloud SMS app.

[2015-01-18 18:23] nerzhul commented on #22
HI @frankerooney , https://github.com/nerzhul/ownCloud-SMS-App/commit/b8f8d3d23f25e91ac0aa6aa2ee7bd5a049a4f7d3 prepare a main activity for ownCloud SMS app.

I let your issue opened, what do you think we can set into it ?

[2015-01-20 21:50] flocke opened #24 "Restore messages from ownCloud instance"
As the title says: I had to wipe my device and had my SMS backed up to ownCloud with your App.
After the wipe I installed the App again and tried to restore them.
It says syncing and there are no errors but the SMS are not shown in the Messenger App.

[2015-01-21 06:27] nerzhul commented on #24
HI @flocke at this time sync is a push, not a pull.
Pull will be coming in the next release, if you can wait 1 week or 2 :)

[2015-01-21 06:29] flocke commented on #24
Sure I can wait (it's just one SMS I have backed up atm, I am playing around with different ROMs and backup Apps ^^)
But if you want me to test the App before the release give me a shout, I'd love to help.

[2015-01-21 09:15] nerzhul commented on #24
no problem @flocke :)

[2015-01-24 14:05] RealRancor commented on #21
Created an Merge Request to include the app into f-droid: https://gitlab.com/fdroid/fdroiddata/merge_requests/521

[2015-01-25 10:18] nerzhul commented on #21
Hmmm, it's not very fair play to do this @RealRancor , whereas i'm application maintainer. But thanks.

You forget one lib, ownCloud-Client library is missing, and i modified it for Google Play Store before packaging apk because of HTTPS handling, then the commit you send will not work in some configurations.

[2015-01-25 10:53] RealRancor commented on #21
@nerzhul
Which ownCloud-Client library are you referring? The two libraries included in your current project:

https://github.com/nerzhul/ownCloud-SMS-App/blob/master/project.properties#L15-L16

are build on f-droid.

Btw. if you don't want so have your app distributed you need to choose a license which disallows this.

[2015-01-25 11:02] nerzhul commented on #21
It's not a licence problem :) I need to manage the distribution channel, because of updates, the Android App cannot follow each github commit

[2015-01-25 11:05] RealRancor commented on #21
You don't need to worry about updates on f-droid as there is an automated update check there.

If you're using tags for your releases the updates could be also build automatically.

[2015-01-25 13:27] nerzhul commented on #21
okay, i think we must use tag is you need F-Droid update, because master branch is devel branch, and users mustn't have broken app.

[2015-01-25 13:42] RealRancor commented on #21
I have chosen this commit for the release https://github.com/nerzhul/ownCloud-SMS-App/commit/6480b3dbbdc1474502697f1d53a51627ad052c5b which was the correct one for 1.6.1 according to your commit log.

On f-droid we try to don't use the latest commit for an release but choosing the correct commit for the release of the app according to the commit logs. Proper tagging of the releases is always helpf

[2015-01-26 10:34] nerzhul commented on #21
Of course . When 2.0 will be released tagging will be available on github

[2015-01-27 09:16] efelon opened #25 "https not connection to host with other port than 443"
Android version: 4.3.1 (CM 10.2.1.3)
    Phone: Samsung Galaxy S4 Mini
    ownCloud SMS app version: 0.16.1
    ownCloud Version: 7.0.4 (stable)
    ocsms Version: 1.4.1

I can successfully connect to my owncloud instance with this URL:
http://sub.myhost.org

It won't connect, asking if it is the correct server address with these URL(s) with self signed certificate:
https://sub.myhost.org:50666
ht

[2015-01-27 10:14] efelon commented on #25
# Logcat extract
(from PID 6080)

[code]

[2015-01-27 10:31] nerzhul commented on #25
Are you using google play application or F-Droid unofficial application ?

[2015-01-27 12:18] efelon commented on #25
I'm using the application from F-Droid.

[2015-01-27 12:29] nerzhul commented on #25
F-Droid doesn't use my modified ownCloud library because it's not packaged by me. Maybe ownCloud SMS must use it's own library to handle ownCloud instance, but it's not for now.

[2015-01-27 12:30] nerzhul commented on #25
Please use Google Play Store app to avoid this issue.

[2015-01-27 12:30] #25 closed

[2015-01-30 17:14] nerzhul commented on #21
FDroid unofficial support has been added by @RealRancor

@RealRancor do you want to became maintainer of the F-Droid app ?

[2015-01-31 17:44] RealRancor commented on #21
@nerzhul
If releases are properly tagged no maintainer is needed. But i can have a look at the app when problems arise.

[2015-02-08 10:05] agdg opened #27 "Spanish translation of Play Store Description"
La aplicación ownCloud SMS sincroniza sus mensajes SMS en un servidor ownCloud remoto y le permite leer sus mensajes desde él.

El envio de SMS desde el servidor ownCloud será implementado en futuras versiones.

La aplicación es totalmente compatible con Android 4.0 a 5.0

[2015-02-08 10:23] agdg commented on #27
I sorry, i did not see that values-es/google_playstore_strings.xml exist.

I created a pull request on values-es/google_playstore_strings.xml for auto-merged.

[2015-02-08 10:23] #27 closed

[2015-02-08 18:00] nerzhul commented on #27
Thanks for your contribution :)

[2015-02-10 08:45] Trollken opened #30 "Crashing app when syncing"
Hi,

First of all, thks for your work, i was looking for this kind of software for a long time !

I just got a little problem : when i start syncing, app crashes after some seconds displaying : "Unfortunatly, owncloud SMS" has stopped". ( this kind of android system error : http://www.ekoob.com/wp-content/uploads/2012/07/app-has-stopped-crashed-android-nexus-7.png ).

Above, you'll find informatio

[2015-02-10 18:21] nerzhul commented on #30
Hmmm i'm using the app with Android 4.2.2 too. Do you send a report ?

[2015-02-10 18:32] nerzhul commented on #30
I see a report for a HT desire with Android 4.1 with a crash when syncing, maybe it's related. Is this a fresh install ?

[2015-02-10 18:40] nerzhul commented on #22
Fixed. It will be ready in 0.17

[2015-02-10 18:40] #22 closed

[2015-02-10 18:41] nerzhul commented on #24
I need one more release. This release add a main activity

[2015-02-10 18:42] nerzhul commented on #30
In report it to 0.18 branch. 0.17 will be released and your fix, if already exists must be sent to play store, which let me have a backtrace for fixing it

[2015-02-10 18:55] nerzhul commented on #23
ownCloud 8.0 and contact app may fix your issues. Is your problem solved ?

[2015-02-11 16:00] Trollken commented on #30
Well, my error doesn't display the "error" button, i only can press "ok".

The owncloud sms app has been installed yesterday (the server-side app too).

Thks for your reply :).

[2015-02-12 20:11] brortao opened #31 "App crashes OS"
Installing this app got my phone stuck in a boot logo loop - it would show the boot logo, then the lock screen for a few seconds, then repeat. Rebooting did not solve the issue.

I wish I could give more info but I had to restore my phone! The issue only started after setting up the app. I installed it from F-Droid.

I'm on Fairphone OS 1.8, based on Android 4.2.2. The Owncloud version is 8.0.0.

[2015-02-12 20:16] nerzhul commented on #31
F-Droid is not the classic installation mode for this application, it's unofficial and unsupported by ownCloud-SMS-App team.
I also use ownCloud-SMS-App on Android 4.2.2 without issue on my production phone since the start of the development. I think you have a problem with your phone, not my app. App code is very basic and uses all the Android standard APIs

[2015-02-12 20:32] brortao commented on #31
It seems likely that it has something to do with F-Droid. I factory reset my phone once, and re-installed ownCloud SMS (not realizing that it had caused the issue in the first place). The issue happened again, even on a "fresh" factory-reset phone.

Like I said, I wish I could give more info. I thought I'd submit a ticket anyway, just in case!

[2015-02-12 22:47] jas4711 commented on #21
Thanks for packaging it, I'm now using the app via fdroid and it appears to work -- at least my SMSs were pushed to my OC instance.  Time to close this?

[2015-02-12 22:47] #21 closed

[2015-02-13 06:55] nerzhul commented on #31
The only thing we must do is to branch your phone in debugging mode in an Eclipse with Android-SDK and look at the logcat logs to see what crash the phone.

[2015-02-13 06:55] nerzhul commented on #21
@RealRancor there is a tag now. 0.17.0 where tagged

[2015-02-13 07:48] RealRancor commented on #21
@nerzhul
Thanks for the notification. 0.17.0 was already build on f-droid:

https://f-droid.org/repository/browse/?fdfilter=Owncloud&fdid=fr.unix_experience.owncloud_sms

:1:

[2015-02-13 09:02] Trollken commented on #30
Hi ! :).

I updated the app to 0.17, still got the problem :(.

Is there any way to get logs ?

[2015-02-13 09:05] nerzhul commented on #30
If you don't have the button, plug your phone in debug mode on an eclipse with Android SDK installed (devel mode in fact...)

[2015-02-13 09:13] Trollken commented on #30
Well, thks for these information, i'll take a look at it asap :-).

[2015-02-13 09:15] nerzhul commented on #30
Have you installed google play store ?

[2015-02-13 15:10] Trollken commented on #30
Yes, Google Play Store is installed on my device.

[2015-02-16 08:23] nerzhul commented on #30
That's stange. We could only debug using eclipse with android-SDK here, i think

[2015-02-16 09:20] Trollken commented on #30
Hi,

I just found tons of errors on the Apache logs... doesn't seem to be directly ocsms app related.

[Tue Feb 10 09:15:16 2015] [error] [client 5.135.110.0] PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[HY000]: General error: 5 database is locked' in /var/www/owncloud/3rdparty/doctrine/dbal/lib/Doctrine/DBAL/Statement.php:138\nStack trace:\n#0 /var/www/owncloud/3rdpa

[2015-02-16 09:22] nerzhul commented on #30
You SQlite database is locked and no, it's not a ocsms issue here, i think you'll need to find the problem with your database, and see if it's related with sync (maybe an error which is mishandled)

[2015-02-16 10:28] Trollken commented on #30
Well, I just did some sync tests right now.

I don't have theses SQL errors anymore.

In Apache, the only logs i got when i start sync are these :

raspberrypi:443 92.103.166.6 - trollken [16/Feb/2015:11:25:56 +0100] "GET /owncloud//index.php/apps/ocsms/get/apiversion?format=json HTTP/1.1" 200 1677 "-" "Android-ownCloud"
raspberrypi:443 92.103.166.6 - trollken [16/Feb/2015:11:25:58 +0100] "GET /ow

[2015-02-16 10:30] nerzhul commented on #30
Then, it seems it's in the sync algorithm, after getting the ID list from server, which permits to compare existing messages with ocsms messages... but the algorithm is complex, and a backtrace with logcat would be helpful

[2015-02-16 10:49] Trollken commented on #30
Well, I installed logcat on my smartphone and started sync. Here are the logs :

[code]

[2015-02-16 10:53] nerzhul commented on #30
Oh ! outofMemoryError.... it seems your phone hadn't so many memory. How many memory do you have and how many available before sync ?

[2015-02-16 10:59] Trollken commented on #30
790MB max, and before sync, it's around 350/400 MB free

Maybe is this related to the 25 000 sms i have to sync ? :).

[2015-02-16 11:00] nerzhul commented on #30
maybe, but those SMS will not take 350MB of memory.... that's very strange. I think i must look at memory improvements then.

[2015-02-16 11:11] Trollken commented on #30
I just started sync with a RAM monitor app running.
When app crashes, I still ot 315MB free memory.

[2015-02-16 11:13] nerzhul commented on #30
very strange. I think it's related to StringBuilder java object then

[2015-02-16 11:46] Trollken commented on #30
So, I kept searching for some information.

It looks like the default dalvik heap size for galaxy S2 is set to 48MB.

[code]

When i start sync and check memory usage, i see goes from 350MB free to 300MB, and then crashes.
Seems definitly related.

Anyway, thks for your work and reactivity :-).

[2015-02-16 12:54] nerzhul commented on #30
then the memory is limited.. We need an API improvement for such devices

[2015-02-16 12:54] nerzhul commented on #31
own many messages would you sync ?

[2015-02-16 14:28] nerzhul commented on #3
@theonlydoo it's now fixed, i forget to close this issue. Please update your ocsms app on owncloud and set a language in app settings.

[2015-02-16 14:32] theonlydoo commented on #3
I'll try soon, thx for the feedback :-)

[2015-02-18 12:05] eyesoftsys opened #34 "Error #9: Server set unhandled HTTP return code"
i'am getting on client this error, on logs i see "Server set unhandled HTTP return code 500" is a problem with owncloud server, can you make status code 500 handled and set a better error description. From a  owncloud sms client perspective it's not an error, from a owncloud sms server this is an error.

Server

ownCloud version: 7.0.4 (stable)
PHP version: PHP 5.6.5
HTTPd server: Apache/2.4.10
HT

[2015-02-18 12:47] eyesoftsys commented on #34
on server side the error was this : SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: 'NOW()' for column 'added' at row 1

solved in file apps/ocsms/db/smsmapper.php by adding :
+262 $today = date("Y-m-d H:i:s");
and change "NOW()","NOW()" with $today, $today

[2015-02-18 14:40] nerzhul commented on #34
what is your database backend ?

[2015-02-18 14:40] nerzhul commented on #34
can you send your issue on the proper github repo ?

[2015-02-18 14:51] eyesoftsys commented on #34
done : https://github.com/nerzhul/ocsms/issues/55

[2015-02-18 14:52] nerzhul commented on #34
Thanks, i close this issue

[2015-02-18 14:52] #34 closed

[2015-02-18 14:54] eyesoftsys commented on #34
ok, but i think you need to handle error 500

[2015-02-18 16:09] nerzhul commented on #34
not on android app this permit to detect bugs on server side

[2015-02-19 14:56] brortao commented on #31
It was quite a lot of messages - over 1000 in total, I would say.

[2015-02-19 14:58] nerzhul commented on #31
not many then.... without logs i could not find the issue :(

[2015-02-19 15:23] brortao commented on #31
Unfortunately it's my everyday phone and I don't have time to risk resetting it again! If I do try to install the app again, I will update here.

[2015-02-19 15:30] nerzhul commented on #31
Don't forget you use F-Droid, which is unofficial build, maybe this can add bugs

[2015-02-24 15:35] cptMikky opened #39 "more info on "connection failed, ensure this is a right server""
I keep getting this error when creating an account. I'm positive all information entered is correct. Same information works with official ownCloud sync app. I'd appreciate more information in the error message. I suspect a certificate problem but cannot tell for sure.

App version: 0.17.0 (F-Droid)
Android: 4.4.4 (CM11)
Phone: Xperia ZR

Also, if this turns out to be a certificate problem (be it s

[2015-02-24 20:07] nerzhul commented on #39
Hi,
are you using it from F-Droid ? F-Droid doesn't include our patched library, and is not supported officially.

[2015-02-24 20:15] cptMikky commented on #39
Hi, yes, F-Droid. Any chance it will be supported? And what kind of library are you referring to? Are you sure the problem is in fact related to the patched library?

[2015-02-25 13:06] nerzhul commented on #39
i refer to owncloud library. Yes because i patched it to allow self certificates, the default doesn't permit it.

[2015-02-25 13:21] cptMikky commented on #39
I see. Thanks for the information, I'll look deeper into what might be the problem with the certificate. However, as I mentioned before, the ownCloud app itself works with the very same server and certifiate and has worked since version 1.5.x I think. I can only guess that the app also uses the ownCloud library...

Anyway, if I can, I'd suggest working on error messages. It looks nice enough but i

[2015-02-25 13:27] nerzhul commented on #39
You are right, but the API doesn't return a very simple exception to handle for the certificate. Maybe modify it in the future :)

[2015-03-03 20:24] CountMurphy commented on #24
I too could use this feature (would like to swap roms).  As with Flocke, I'd be more than willing to help test.

[2015-03-05 22:45] CountMurphy commented on #31
If its any help, I've been running the client from fdroid as well. Zero issues.

[2015-03-10 20:42] ericfont commented on #3
I see conversations for a number 1########## are split when used with the identical number but with a "+" in front: +1##########.  I notice this issue now in the current version ownCloud SMS v1.4.3 (which was automatically updated when I updated owncloud server, I believe as I don't remember manually updating).  I don't know if this is the same issue and has been fixed or if this is different, or

[2015-03-11 13:36] nerzhul commented on #3
I also notice the bug. I will review the modification on deduplication model.

[2015-03-18 13:42] pejakm commented on #31
I'm having this issue, too. It started to happen when I changed sync interval to `never`. I solved the issue by manually removing this app via adb. I'm not sure how to debug this...

[2015-03-18 13:44] nerzhul commented on #31
by changing to never ? this is very very strange, i'll look at this

[2015-03-18 14:28] pejakm commented on #31
Yes, but it doesn't have to mean that exactly that triggered the bug. When restoring from boot loop, I deleted app's profile from /data/data first, but it didn't help until I removed app from /system/app (I had it installed as system app).

[2015-03-21 23:43] nerzhul commented on #23
No news from user since 1 month

[2015-03-21 23:43] #23 closed

[2015-03-21 23:45] nerzhul commented on #31
How many messages have you got @pejakm

[2015-03-21 23:46] nerzhul commented on #31
@pejakm @brortao can you use logcat on your PC with you phone plugged in debug mode ?

[2015-03-22 00:04] enoch85 opened #49 "Make translations trough Transifex"
To make it easier to keep the translations up-to-date, we should use Transifex instead.

https://www.transifex.com/

https://www.youtube.com/watch?v=UFT3pF5rr14

[2015-03-22 09:31] nerzhul commented on #49
transifex is not free, then sorry but impossible :(

[2015-03-22 09:31] #49 closed

[2015-03-23 14:27] pejakm commented on #31
Sorry, I had to remove this app from my phone, because I can't afford another lockup. I'll try again some time, once I have a free weekend.

[2015-03-23 14:29] nerzhul commented on #31
okay @pejakm , thanks

[2015-03-28 20:56] pejakm commented on #31
I've tried just now, and same thing happens. Trigger appears to be setting sync interval to `never`. Will try to get some useful log from adb.

[2015-03-28 21:40] pejakm commented on #31
Sorry, I have no usable output. I did notice that Mounts2SD couldn't mount dalvik-cache partition:

due to "low space on ext-sd partition" (altough that partition has plenty of space left). Once uninstalled ownCloud-SMS, everything went back to normal. I installed ownCloud-SMS again, set Sync frequency to "Never", and nothing happened (no crash). But the crash will probably happen again if I set u

[2015-03-28 21:49] nerzhul commented on #31
This week i diffuse accidentaly an instable fix on play store. 0.18.2 is correct

[2015-03-28 21:51] pejakm commented on #31
I use version from F-Droid.

[2015-03-28 21:58] nerzhul commented on #31
I don't know what version is on f-droid, if you could provide me

[2015-03-28 22:15] pejakm commented on #31
https://f-droid.org/repository/browse/?fdfilter=ownCloud-SMS&fdid=fr.unix_experience.owncloud_sms
https://f-droid.org/wiki/page/fr.unix_experience.owncloud_sms

Ah, that might be it, I need to wait for update.

[2015-03-29 18:12] nerzhul commented on #31
The current version is 0.18.2

[2015-03-31 17:05] pejakm opened #53 "Don't repeat synchronization after fail"
Main reason I set update interval to `Never` and therefore experienced #31 is because my ownCloud server is on my own computer, which isn't always on, and ownCloud-SMS keeps trying to connect to it indefinitely. So it makes sense to introduce a mechanism of silent fail: when the server can't be reached (or otherwise synchronization fails for some other reason) app will not trying to connect again

[2015-03-31 18:27] pejakm commented on #31
I have solved this by changing "pref_sync_frequency_values" value for `Never` from `-1` to `5256000` (ten years). Selecting this option doesn't cause OS crash anymore. So this ("Never" option) could be a problem. @brortao can you confirm?

@nerzhul Perhaps this option (`Never`) is not necessary: to my knowledge other sync services (DAVdroid, for example) don't provide it because one can easily tur

[2015-03-31 19:32] enoch85 commented on #30
@nerzhul You just released 0.18.2 and this has the milestone 0.18. It feels like you don't work on this project as much as needed. At the same time you charge people in Play Store to get the app.

Sorry for OT but I think it's a shame that you don't fix bugs and enhance the app as expected.

[2015-03-31 20:17] nerzhul commented on #31
Okay, thanks for the tip. I doesn't have the issue on my phone and my emulators

[2015-03-31 20:18] nerzhul commented on #30
Daniel, i was a bit busy these days but i will be on holidays next month and will work on new features.

[2015-03-31 20:44] nerzhul commented on #53
The application is scheduled to do a triggered sync on
- Network change (to push the non push-on-received messages because of not available data connection)
- Periodic sync

If i add an option to disable the trigger on network change does that fit ?

[2015-03-31 20:46] nerzhul commented on #24
Delayed to 0.19.
0.18 was network state sync filtering, the change was due to my availability

[2015-03-31 20:48] pejakm commented on #31
FWIW, I'm on Jelly Bean (4.2.2), rooted, stock rom. Only apps I run that I think could affect other apps on my phone to act strange are Xposed with GravityBox module and Mounts2SD. But never so far had I any problems with them.

[2015-03-31 21:57] pejakm commented on #53
I wasn't aware of this. :) Since I don't have this "push-on-received" (even don't know what is that), yes and option to disable trigger on network change would be very much appreciated, thanks. :)

[2015-04-01 07:51] nerzhul commented on #31
@pejakm me too. I look at this issue since 1 week

[2015-04-01 07:52] nerzhul commented on #53
push-on-receive : push the received SMS when you receive it if data is available.
You don't have notification shown for this it's done transparently to ensure the data is transfered to server

[2015-04-01 12:10] pejakm commented on #53
Push to where? :) Never mind, I still wont use this, so I would really love to see this option. :)

[2015-04-01 12:14] nerzhul commented on #53
To you owncloud instance :)

[2015-04-08 21:16] AW-UC commented on #39
@cptMikky had the same issue. Does your URL ends with `.../owncloud/`? If so, remove the trailing `/`. Also make sure, your URL doesn't iclude `https://`.

[2015-04-09 07:43] cptMikky commented on #39
I should probably mention that even though this issue is still valid somehow, it shoud have a lower priority, apart from having a better error message. The certificate I was using wasn't exactly valid, it was expired, which on it's own doesn't affect the crypto part (as long as **I** trust the certificate, it's still OK to use it) but it kinda defeats the purpose of the "certification" thingie. Up

[2015-04-09 07:45] nerzhul commented on #39
@AW-UC thanks for the report, will looking at this soon
@cptMikky no problem

[2015-04-12 11:45] RealRancor opened #55 "Wrong VC/VN for 0.18.2 tag"
Hi,

just tried to build the current version 0.18.2 on f-droid but failed because the 0.18.2 tag still contains the VC 24 and VN 0.18.1:

https://github.com/nerzhul/ownCloud-SMS-App/blob/0.18.2/AndroidManifest.xml#L4-L5

[2015-04-12 20:30] Jef2i opened #56 ""Sync all messages" issue"
I've got problems syncing my messages from my android messages.
Well. I've played a little with the tool before having synchronization partially working, then failed...

### Explanations
* OC Sv7
 - sync fails reported by Android app (timeout) (server-side's logs : getCrypto undefined method)
* OC Sv8 migration completed
 - (*after migration*) no sync (server-side's logs : SQL error)
[code]
 -  (*

[2015-04-13 10:51] AW-UC commented on #56
Maybe some of the SMS on your phone don't have proper `sms_date` values? Or any other malformed SMS? I made your log output more readable:

    {"reqId":"8a0463b8744XXXXXXXX8c0314a4383af","remoteAddr":"192.168.1.254","app":"index","message":"Exception: {
		"Message":"An exception occurred while executing 'SELECT sms_address,count(sms_date) as ct FROM oc_ocsms_smsdatas WHERE user_id = ? AND sms_mai

[2015-04-13 11:42] nerzhul commented on #55
Thanks for the note, i fix it now, i forget it :)

[2015-04-13 16:39] Jef2i commented on #56
I don't really know if I have some malformed SMS. But I don't think :-)
I used to use "textra" to send/receive SMS, TitaniumBackup to backup/restore then.

But please note that when I had SMS syncing correctly working, I had **only** day's SMS synced. Nothing from the days before.

(@AW-UC: thank you for the log's display corrections. I've updated my initial post)

[2015-04-15 07:44] nerzhul commented on #56
Hello @Jef2i , the algorithm sent every messages which is not on server based on its ID. This will change with next version which don't care about SMS_ID which is not unique after a restore, we will look at SMS_ID + SMS_DATE (which is unique).
For the invalid date i will add a test to check the problem, thanks for the trace

[2015-04-18 12:42] wilfried18 commented on #24
I find no way to retrieve text messages stored on the instance owncloud

[2015-05-12 17:00] DJaeger opened #57 "crash on sync"
The app/service crashes on sync when using a design with app icons.

You could try for example with "Onze".

I think the most relevant part of the log is:
[code]

The full log:
[code]

[2015-05-15 06:56] nerzhul commented on #57
What is your android version ?

[2015-05-17 13:45] DJaeger commented on #57
Cyanogenmod 11
Android 4.4.4

[2015-05-18 05:43] nerzhul commented on #57
Can you provide logcat logs ?

[2015-05-19 14:39] DJaeger commented on #57
Currently I couldn't give you more logs.
But I think, that these informations will help you:
https://gitlab.com/xphnx/twelf_cm12_theme/issues/47

[2015-05-19 15:04] nerzhul commented on #57
He replace the png icon with another icon. How can that fix the problem ?

[2015-05-20 15:37] DJaeger commented on #57
He discovered that adding a proper (smaller, all-white) notification icon seems to fix crashing syncthing with themed icon.
I don't know why, but it works.
https://github.com/syncthing/syncthing-android/pull/332#issue-66275201

And for OSMonitor it seems to also work:
https://github.com/eolwral/OSMonitor/issues/63
https://github.com/eolwral/OSMonitor/commit/e8482f6f16862b5706bb37c4198cda3ca8300e7b

[2015-05-22 06:58] nerzhul commented on #57
Thanks for the precisions, will look at this this week-end, but i cannot reproduce it easily.

[2015-05-22 06:59] nerzhul commented on #57
Maybe the default ic_launcher can be overrided and can cause problems with apps. I can duplicate it then and release a new version

[2015-05-22 07:14] DJaeger commented on #57
Thanks

[2015-05-23 16:31] nerzhul commented on #56
Fixed, thanks and sorry for to be late !

https://github.com/nerzhul/ocsms/commit/ab5792e39f6e1fb0739fc986701c2fb1a36068d6

[2015-05-23 16:31] #56 closed

[2015-05-23 16:31] nerzhul commented on #55
This will be fixed on next release of the app

[2015-05-23 16:33] nerzhul commented on #53
@pejakm sorry for to be late. I add this option soon :)

[2015-05-23 16:37] nerzhul commented on #57
It's merged now. The fix will be available on next google play store release. I don't know when

[2015-05-23 17:36] pejakm commented on #53
:+1:

[2015-06-02 15:14] xphnx commented on #57
Hi!
I'm the mantainer of Onze/TwelF. I built the Owncloud-SMS with the las commit and as I've tried the problem is fixed.
Regards.
PD: I can share the apk if needed.

[2015-06-02 15:29] nerzhul commented on #57
@DJaeger can you confirm ?
@xphnx thanks for your report

[2015-06-02 21:49] DJaeger commented on #57
As I currently doesn't have a Android Development Environment ready to build, I would test, if you give me an APK.
I'm currently only waiting for this fix to reenable Onze.

[2015-06-03 07:08] xphnx commented on #57
Here is an apk with the last commit. https://my.owndrive.com/public.php?service=files&t=0b2e115fbcd7c9581ee7ce3b2f5b2ae1

[2015-06-03 15:19] DJaeger commented on #57
It works for me too.
Thank you two.

P.S.: Is it expected, that there is no contact, when I choose my account from remote account, because not ready yet or should I open a new issue?

[2015-06-05 07:12] nerzhul commented on #57
The remote account is not ready yet, it's empty atm because i need to develop it. But sssh, this is the next feature permitting to restore messages :p

[2015-06-05 07:12] #57 closed

[2015-06-06 12:00] amiraliakbari commented on #24
+1
Is this feature supported by the OwnCloud-SMS Android app?

[2015-06-06 12:15] mmmdamin commented on #24
+1

[2015-06-07 17:55] nerzhul commented on #24
This feature is in progress but i'm a little bit busy. API is in preparation and interface on Android too :)

ocsms owncloud app 1.5 will use API v2 with message restore calls. It's not ready yet, some time is missing , but i will do it

[2015-06-08 10:19] kalinkin-43 opened #58 "Do not sends SMS :("
1. How to send SMS from web-interface?
For example, https://mightytext.net/ allow to do it...

2. Not all my contacts are synchronised... a can see correct names only in ownclouds contacts :(

[2015-06-08 14:13] nerzhul commented on #58
Hi @kalinkin-43 .
For the first point it's not possible atm, there are some security considerations and Android consideration to do it as a relay. It's a future feature, already in the list.

For the second point, please select a country in the web interface . ocsms doesn't sync contacts because we suppose you are using carddav contact, it's not the goal of this app :)

Thanks for your usage and s

[2015-06-08 14:13] #58 closed

[2015-06-08 20:06] kalinkin-43 commented on #58
OK, hope future will come soon :) Untill that moment I'll continue to use  mightytext.net

[2015-06-23 17:13] nerzhul commented on #53
It's now implemented in master. I close the issue.

[2015-06-23 17:13] #53 closed

[2015-06-23 17:14] nerzhul commented on #30
@enoch85 working on it this evening. The memory problem is very very anoying because it depends on phone constructors...

[2015-06-23 17:24] nerzhul commented on #3
This is definitively a ocsms for server problem.

[2015-06-23 17:24] #3 closed

[2015-06-23 17:25] nerzhul commented on #55
Tag 0.18.5 is now properly set

[2015-06-23 17:25] #55 closed

[2015-07-01 08:18] pappabetalar opened #59 "Sync error Error #9 Server set unhandled h..."
Hi I am running the latest Android app.
Phone: Huawei P7-L10
Androi: 4.4.2

Owncloud server hosted on Ubuntu server with ssl.
ownCloud 8.0.2 (stable).

Is there anyway i can extract logs from the app or server to see what's going wrong?
I get Error #9 Server set unhandled h... (I can't see the rest of the message)

This might be due to the large amount of sms i am trying to sync? about 10k+

I hav

[2015-07-01 19:51] nerzhul commented on #59
Hi, you can find the problem on server generally for error #9. Look at your php_error.log, apache logs and owncloud/data/owncloud.log

[2015-07-02 14:58] pappabetalar commented on #59
I will look through my server logs, guessing this is a server issue and not something with the app or owncloud sms itself.

Exception: {"Message":"An exception occurred while executing 'DELETE FROM oc_ocsms_smsdatas WHERE user_id = ? AND sms_id = ?' with params [\"XXXX\", 11216]:\n\nSQLSTATE[HY000]: General error: 1205 Lock wait

You can close this if this is an issue with my server set up.
Thanks

[2015-07-02 14:59] nerzhul commented on #59
Are you using sqlite ?

[2015-07-02 15:02] pappabetalar commented on #59
I ma using "mysql  Ver 14.14 Distrib 5.6.24, for debian-linux-gnu (x86_64) using  EditLine wrapper"

[2015-07-02 15:14] nerzhul commented on #59
The lock wait problem is on your database, owncloud database connector waits for your database and generate a timeout.
The DELETE is working, but not applied because of your database reponsivity

[2015-07-02 15:15] pappabetalar commented on #59
Thank you for this, i will investigate further.

[2015-07-02 15:15] #59 closed

[2015-07-02 15:16] nerzhul commented on #59
Are you using a RPI or another little system ?

[2015-07-02 15:20] pappabetalar commented on #59
It's an old laptop, not the best but it should be enough.
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                2
On-line CPU(s) list:   0,1
Thread(s) per core:    1
Core(s) per socket:    2
Socket(s):             1
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 1

[2015-07-04 09:08] Percherie opened #60 "After sync, i have null messages"
Hi,

ocsms web work, applics for android have succeful sync my data but in owncloud i have nobody message in http://<my_cloud>/index.php/apps/ocsms/

I use :
owncloud-sms 0.18.2
owncloud 8.4
android 5.0
sansumg S5

[2015-07-04 09:15] nerzhul commented on #60
you get nobody message  ? can you be more precise please ? Can you also look at issue template style in README ?

Thanks

[2015-07-04 09:25] Percherie commented on #60
No where is this readme ? I read on playstore, app of owncloud and readme.md

I have nobody message, it's similar if it's succeful but a don't have dat

[2015-07-04 09:37] nerzhul commented on #60
Could you look at your apache logs and data/owncloud.log ?

[2015-07-04 10:26] Percherie commented on #60
i don't acces to my log apache. Now i submit one copie to my log for 00h00

[2015-07-07 14:34] nerzhul commented on #60
awaiting you ]

[2015-07-16 22:27] dh-connect opened #61 "app doesn't work with oc 8.1.0.3"
since i upgrade to oc 8.1 the apps doesn't sync anymore: Fehler #9: Unbekannter HTTP-Antwortcode vom Server, on oc 8.0 everything was fine

i'm using oc 8.1.0.3 / oc sms 1.5.0
latest app version on android

[2015-07-17 06:48] nerzhul commented on #61
can you give me your apache logs ?

[2015-07-17 18:53] dh-connect commented on #61
sorry for false alarm, i could get it to work, it had to do with apache modsecurity module which i had activated

[2015-07-18 07:01] nerzhul commented on #61
okay, no problem, thanks for the return :) i close the issue

[2015-07-18 07:01] #61 closed

[2015-07-18 07:01] nerzhul commented on #60
@Percherie ping ?

[2015-07-20 12:01] Percherie commented on #60
Sorry i forget,

After install official application owncloud for android it's work... i test tomorow after delete official application but it's strange

[2015-07-20 12:04] nerzhul commented on #60
Oh you are using unofficial application ? It's possible the unofficial doesn't work properly, i don't support it, they get the sources and re-build it, but maybe they have something wrong

[2015-07-20 12:21] Percherie commented on #60
it was temporary as a few weeks the official application could no longer display the contents of my cloud. Only unofficial app arrived there.

Since the last update of the official working again

[2015-07-20 12:52] nerzhul commented on #60
I close the issue

[2015-07-20 12:52] #60 closed

[2015-07-25 18:01] xn--nding-jua opened #62 "App crashes on synchronizing"
Hi,

your app crashes everytime I try to sync. The Android-debug-console says:
Could not find method android.app.Notification$Builder.build, referenced from method fr.nrz.androidlib.notifications.NrzNotification.createNotify

Here the full error-message:
07-15 15:56:41.554  17513-17513/? D/dalvikvm? Late-enabling CheckJNI
07-15 15:56:41.804  17513-17529/fr.unix_experience.owncloud_sms:sync I/dalvi

[2015-07-26 07:07] nerzhul commented on #62
It's not a bug, it's a missing dependancy you fix. Official app is present on google play store including all the proper packaging :). I will add a link to the dep in the README.md

[2015-07-26 07:07] #62 closed

[2015-07-26 07:08] nerzhul commented on #62
This is already said there : https://github.com/nerzhul/ownCloud-SMS-App/wiki

[2015-07-31 18:02] RealRancor opened #63 "Provide infos about used versions of nrz-androidlib and Owncloud-Android-Library"
Hi,

i'm currently updating the app on f-droid and stumbled over the problem that you don't specify which versions of the nrz-androidlib and Owncloud-Android-Library you're using / testing against. Could you add this infos to the readme or some other files? Thanks

[2015-08-09 18:19] agilob opened #64 "Application stopped working when receiving message without registered account"
1. install owncould-sms-app
2. ignore registration
3. receive sms
4. application crashes

[2015-08-09 18:20] agilob opened #65 "Feature request - use existing oC account instead of creating new one"
If user already has oC account on a device it should be used instead of asking to create another one.

[2015-08-09 21:33] DJaeger commented on #65
As this app uses the oc-lib it should be able to use an oc-account.
If none is available, it should not create an oc-sms account, but an oc-account, which can also be used by the oc app, if installed afterward.

[2015-08-09 21:43] nerzhul commented on #65
@agilob i wanted to do this when started to develop app but this wasn't good, i don't remember why. Maybe to prevent a setting collision, because ocsms settings are can collide with owncloud original app.

[2015-08-09 21:45] nerzhul commented on #64
@agilob thanks for the report. Application is at 0.18.5, please use 0.18.5 and give me the logcat logs to fix this issue.

[2015-08-09 21:46] nerzhul commented on #63
@RealRancor thanks for the porting to F-Droid. nrz-androidlib is the last version. For OwnCloud-Android-Library it's the version 1.0

[2015-08-10 05:40] DJaeger commented on #63
How about building instructions in the README?

[2015-08-10 11:53] agilob commented on #65
Maybe we should try asking some of owncloud developers? @davivel @masensio ?

[2015-08-14 14:34] jas4711 opened #66 "Heavy data usage?"
I installed ocsms 0.18.5 from fdroid and using it with an ownCloud 8.1 instance with latest ocsms app (from git, pulled early August 2015).  I'm seeing a lot of data usage from the app.  It seems to use around 20MB per day.  Is this to be expected?  Is it sending all of SMSs over and over?  I can imagine the initial push to consume some bandwidth, but after that it seems bandwidth usage should be

[2015-08-14 14:37] jas4711 commented on #65
Have a look at recent versions of the ownCloud News Android app -- it "imports" the ownCloud credential in a nice way.

[2015-08-15 06:55] nerzhul commented on #66
hi @jas4711 , it depends on how many messages do you have on your phone. Please note there is two sync: the full differential sync and the incremental sync, you can disable the full differential sync or change the interval directly in the settings. By default it's 15 mins, but you may want to have a larger interval to reduce data usage

[2015-08-30 01:51] julamulo opened #67 "Multiple Android device sync"
Trying to sync my SMS from phone to owncloud then to tablet
ownCloud SMS installed on my phone and tablet, sync is ok
ownCloud server show my SMS from my phone => ok
tablet with SMS AOSP app doesn't show any SMS, I tried also with Google Messenger but no luck

Should multiple Android device sync work ?

[2015-08-30 07:31] nerzhul commented on #67
@julamulo did you try to import SMS from the server to your tablet ?

[2015-08-30 08:29] nerzhul commented on #64
Fixed: cc14488a88ecbd84e73dc73c209812fd03f9f297

[2015-08-30 08:29] #64 closed

[2015-08-30 13:37] julamulo commented on #67
Not sure i'm doing it right.
I have installed ownCloud SMS on the tablet and launched synchronisation with owncloud server. I don't know if it's the way to import

[2015-08-30 13:50] nerzhul commented on #67
at this moment it's not possible to import SMS, only to export them. I'm working it on atm, but the feature will be a SMS restauration function

[2015-08-30 15:41] julamulo commented on #67
Ok thanks for our answer. Your app is super

[2015-08-30 15:41] #67 closed

[2015-08-30 15:42] nerzhul commented on #67
@julamulo thanks, but it could be better than that :) I just need some time, or patches

[2015-09-06 12:22] enoch85 commented on #7
@nerzhul Any update on this?

[2015-09-30 19:47] chrischaan opened #68 "Feature Request - Add SMSSecure support"
Is there a plan to support also massages from SMSSecure?

[2015-10-03 06:54] nerzhul commented on #68
hi @chrischaan no, we only fetch into system backend, sorry :(

[2015-10-03 06:54] #68 closed

[2015-10-05 09:19] skjnldsv opened #70 "Can't use self signed certificate"
Hi, my owncloud installation is set on a custom port with ssl and a self-signed cert.
I can't login properly with all thos settings defined.

If I set my port like user@host:port, I always get an error.
Thanks for your promising app, it looks pretty awesome!

[2015-10-05 13:05] nerzhul commented on #70
Hello, thanks for your usage
Did you tried to set host:port in the host field ?

[2015-10-05 15:34] skjnldsv commented on #70
Hi!
Yes I did and I get an unknow error. :/
Do you want me to post a logcat?

Regards.

[2015-10-05 15:35] nerzhul commented on #70
Could be interesting :)

[2015-10-05 15:49] skjnldsv commented on #70
I can't get anything from it! Any line from the process.
I'm using FDroid version, could this be the problem?
I don't and can't have gapps on my phone, so no play version for me! :/

[2015-10-06 08:13] nerzhul commented on #70
i think there is a problem in URI parsing.

[2015-10-06 08:16] skjnldsv commented on #70
If I could be any help tell me! :)

[2015-10-07 14:00] nyxxo opened #71 "Phone Number / Name assignment with country codes"
Hi,

I'm using your app since today and the sync worked perfectly. But now I have the problem that the Webfrontend does not recognize the contact if as country code was given for the phone number (XOR, either in the sms oder in the contact - if both have it is of course linked).

Example:
Contact: Mr. Phone: 0199 99999
SMS: +49 199 999999

It looks like you are doing a simple comparison, whether t

[2015-10-09 13:24] nerzhul commented on #71
hi @nyxxo the problem is that many countries use different phone schemes, we have a mapper for phones, maybe there is something wrong for you and you can help ? :)

[2015-10-09 14:22] nyxxo commented on #71
Hi @nerzhul,

If you don't mind to hint me to the right place I will see what I can do!

[2015-10-14 09:25] nyxxo commented on #66
Hi @nerzhul,

where can I change the sync settings (differential/incremental)? I only see the sync frequency as well as the settings for syning on WiFi, LTE, asf.

I set the syncing interval to 24hours and to wifi only, but according to my phone it took already 100mB of my quota and I'm getting the "synchronizing" message several times a day. Is it possible that the app ignores my settings?

[2015-10-14 09:26] nerzhul commented on #66
@nyxxo did you disable push on receive too ?

[2015-10-14 09:30] nyxxo commented on #66
@nerzhul

I did. The only checked box is "synchronize in wi-fi".

[2015-10-26 12:12] skjnldsv commented on #70
Hi, any news?

[2015-10-31 00:51] brandonk10 commented on #70
This may not be a problem with the port.  I was having the same issue, and it turned out to be the self-signed cert.  Unlike owncloud, I never got a prompt to accept the certificate.  Looking at the code, there is a certificate store that the app holds, but I don't think there is anything pushing the self-signed cert into that store.  I solved this with a quick and dirty custom build of the app -

[2015-10-31 08:01] nerzhul commented on #70
hi @brandonk10 for the self signed certificate official app don't verify the validity of the certificate because the used owncloud client doesn't permit to accept it on this build. If you use f-droid or other APK built from users and don't supported by us the certificate check will not work and break the thing.

[2015-10-31 21:03] brandonk10 commented on #70
I faced same issue building myself from GIT.  I couldn't find any place where validation was turned off in code, and the OC client library v1 seems to validate certs by default.  In any case, custom ports work fine once the app-local cert store is updated, without changing anything else in code.  Maybe you have built with a different source for OC library v1.

[2015-11-01 16:45] skjnldsv commented on #70
So what solutions do we have?
Does the play store app works with self signed cert?

[2015-11-01 17:59] DTux69 commented on #70
Hi,

same problem, catlog say http error  400

11-01 18:48:20.004 E/NativeCrypto(21678): ssl=0x61557110 cert_verify_callback x509_store_ctx=0x631ff940 arg=0x0
11-01 18:48:20.004 E/NativeCrypto(21678): ssl=0x61557110 cert_verify_callback calling verifyCertificateChain authMethod=RSA
11-01 18:48:20.309 E/OwnCloudAuthenticator(21678): Failed response while getting user information
11-01 18:48:20.309

[2015-11-02 05:54] stalker145 commented on #39
LG G3 running official Verizon Android 5.1.1 receives "Unk" error when attempting to connect to Raspberry Pi 2 running Raspbian and ownCloud 8.1.3 with a self-signed certificate via https. Is there any further on this error?

[2015-11-03 23:57] nerzhul commented on #66
hi @nyxxo i found a bug fixed this evening which make the interval of sync not being used properly. The default was used every time. I will release soon.
I also add a bulk mode with a message limit per sync to prevent heavy load on android + data

[2015-11-03 23:57] #66 closed

[2015-11-04 00:00] nerzhul commented on #30
For this issue, it will be fixed in next release by adding an option to reduce data sent per sync to the server. This will permit app to send datas per package instead of trying sending all datas in one time and use too many memory.

[2015-11-04 00:00] #30 closed

[2015-11-04 00:00] nerzhul commented on #31
Crash will be fixed with next release which be coming soon, this week if i get time to finish to solve some issues with translations :)

[2015-11-04 00:00] #31 closed

[2015-11-04 00:50] brandonk10 commented on #70
@nerzhul -

If you look at the android library test client, it comes with code to override the default behavior to support self-signed certificates.  That seems to be the easiest way to address this, though it will not handle "local" CA-signed certs.

I suspect the main OC android client is handling cert errors by checking RemoteOperationResult for certificate errors, prompting to accept, calling

[2015-11-08 09:21] derritter88 commented on #70
I am also having the same troubles with my own signed certificate.

[2015-11-15 11:58] keynlotepan opened #72 "Sync error message although sync interval is disabled"
My current use case is to sync with my owncloud server on my pc. Because this pc is not always turned on (and I am not always in my home network) I set sync interval of owncloud-SMS-App disabled ("Nie" (=never) in my German version). Until version f-droid 0.18.2 this approach worked well (on my CM11 and my wife's Android 5), but current version 0.18.5 produces server connect error messages.
I unde

[2015-11-18 10:09] jos1264 commented on #70
hi guys,

for self signed certificate just export it (.cer format) and install on your android phone. after this it should work

[2015-11-18 13:04] nerzhul commented on #72
@keynlotepan outdated version. Please use 0.19.0 or 0.19.1, this is fixed.

[2015-11-18 13:04] #72 closed

[2015-11-21 02:01] beerisgood commented on #24
First thanks for your app!

How is the status for restore messages? (i use 0.18.5 and ocsms 1.5.0)

[2015-11-21 08:09] nerzhul commented on #24
Sorry i was slow, this is the next thing, i have started to write a code to look at the server SMS phone number registered, i need to continue improve  this :)

[2015-11-22 12:41] keynlotepan commented on #72
Thanks for this information. I do not have access to the version mentioned above, since the latest one on F-Droid is 0.18.5 and we operate our devices without Google apps/account. Will further versions be published on F-Droid or do I have to compile it by myself?

[2015-11-22 13:02] nerzhul commented on #72
@keynlotepan i think the F-Droid maintainer should update its build process, i didn't maintain it myself

[2015-11-22 21:21] skjnldsv commented on #70
@jos1264 Thank you sooo much!!

[2015-11-25 09:39] delumerlino opened #73 "0.19 Costantly crashes on Android 5.0.1"
Hi, the app was great with 0.18.5.
Now with 0.19 I receive "owncloud sms has stopped working" when loading the SMS app.
When forcing syncing, it hangs on "sync in progress".
I push 1000 sms per sync.
No messages on OC server.

Thank you

[2015-11-29 17:42] nerzhul commented on #73
hi @delumerlino can you use logcat to help me find the problem ? Thanks

[2015-12-01 13:50] delumerlino commented on #73
Sure, here it is.
Thank you!
[alogcat.2015-12-01-14-47-56+0100.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/48555/alogcat.2015-12-01-14-47-56.0100.txt)

[2015-12-01 13:55] nerzhul commented on #73
@delumerlino thanks but your backtrace isn't precise, fetcher.fetchAllMessages(smsList); is the call mentionned by your stacktrace but if you can have more precise backtrace it could be good for me to debug, there are many lines of code behind fetcher.fetchAllMessages(smsList);

[2015-12-01 13:57] delumerlino commented on #73
I have filtered only for ocsms, I will send you more accurate log...

2015-12-01 14:55 GMT+01:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-12-01 13:59] nerzhul commented on #73
if the current backtrace is not precise we should wait next backtrace, else i will review everything but crash could occur for many reasons on android. It's strange that this crash doesn't happen with a manual sync but i also see it rarely. I will plug my phone on Android Studio this evening and see if android will report the crash.

[2015-12-01 14:00] delumerlino commented on #73
here is a more accurate log:
[alogcat.2015-12-01-14-57-38+0100.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/48569/alogcat.2015-12-01-14-57-38.0100.txt)

TY!

[2015-12-01 14:07] nerzhul commented on #73
Thanks i found where the crash occurs ! this backtrace permit to see a problem... i will patch it and release a bugfix release this evening

[2015-12-01 14:08] delumerlino commented on #73
Great! Thank you lots!

2015-12-01 15:07 GMT+01:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-12-01 14:12] #73 closed

[2015-12-01 14:13] nerzhul commented on #73
No, you, i thank you for your investigation :D

[2015-12-01 14:14] delumerlino commented on #73
I am very glad to be part of the project! :)

2015-12-01 15:13 GMT+01:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-12-01 15:52] supersn0b opened #75 "fatal error #13 on automatic sync"
Hi,

I keep getting 'fatal error #13' every time I switch on my wifi/data connection.
However, when I sync manually, everything works fine.
What could be the reason for this?

Here my environment:
Gentoo Linux/Owncloud 8.2.1
Android 4.2/owncloud-sms 0.18.5 from f-droid

[2015-12-02 10:35] delumerlino commented on #73
Thanks a lot, the update work like a charm! :+1:

[2015-12-03 12:18] nerzhul commented on #75
hi @supersn0b the error #13 significate that he periodic sync is not able to connect to your instance, perhaps because connection was aborted. The error triggers when exactly ?

[2015-12-04 18:00] jstebbins opened #76 "contact list, "Server doesn't support this feature.""
Owncloud 8.2 from owncloud Open Build Service
ownCloud SMS web app 1.5.0 from owncloud app store
ownCloud SMS 0.19.2 from google play store

Choose Account and under Contact list and Contact informations it says "Server doesn't support this feature".

I have CardDAV-Sync installed and have all contacts on my owncloud instance.  Am I doing something wrong or missing some dependency?

[2015-12-04 23:39] p91 opened #77 "Option to Limit SMS shown per page"
Hi,

first of all, thank you very much for this app.
Unfortunately, I cannot use it at the moment as it always crashes my firefox.
I suspect this is due to the amount of SMS per conversation I have.
Most of my conversations work fine in ownCloud-SMS-App (meaning i can sync and view them in ownCoud) but by longer conversations (>3000 SMS) can only be synced and not viewed without firefox freezing a

[2015-12-04 23:51] p91 commented on #77
Okay, I have to correct myself. it does not actually crash firefox, that was a addon I guess (if I just use a firefox without any addons it will display the "the script seems to have stopped dialog" and if I let it go in the page will display all 3000 SMS.). I would still prefer a option to only display the first 500 or so.

[2015-12-05 00:09] nerzhul commented on #77
hi @p91 can you send this suggestion on the correct github repo ?

https://github.com/nerzhul/ocsms

[2015-12-05 00:09] #77 closed

[2015-12-05 00:12] nerzhul commented on #76
Is this in Remote account section ?
If yes i released accidentally an unfinished feature , and i will remove it soon from release or finish to  develop both client & server

[2015-12-05 00:39] jstebbins commented on #76
Yes, Remote account.  Thanks for the answer.

[2015-12-05 00:58] p91 commented on #77
Ops, sorry :(

I will post it at the right github. Sorry for the inconvenience!

[2015-12-05 11:53] #76 closed

[2015-12-07 13:17] supersn0b commented on #75
the error triggers every time when I connect to wifi/dataconnection. and it doesn't matter whether I have sync enabled globally or not. moreover, it doesn't matter whether I set the sync frequency in the app to 'never' or not, the error shows up always.

[2015-12-08 07:24] nerzhul commented on #75
ok, i need to look at the code when you switch. owncloud sms synchronise differentially SMS when you are connecting to a access point on which you permit sync

[2015-12-15 02:02] computerfr33k opened #78 "Marshmallow Support"
Would this application be able to support marshmallow by just incrementing the max sdk version? Or does it currently have incompatibilities with libraries or something?

[2015-12-15 13:37] nerzhul commented on #78
@computerfr33k what is the android version ? i upgraded AndroidManifest to support 6.0 and pushed it to google play store last week :)

[2015-12-15 18:16] computerfr33k commented on #78
I guess you're right. I thought that the max sdk version was set incorrectly as it is still at 22, but iguess doing some googling showed that it isnt really used anymore. Plus, I've been looking for it on F-Droid and noticed is hasn't been updated in a while.

[2015-12-16 20:56] #78 closed

[2015-12-16 23:11] computerfr33k commented on #21
Seems the latest version no longer compiles on F-Droid, I have tried updating the build, but it complains about not finding the AndroidManifest. It's not just me because the latest version is also not available on the F-Droid repo as well.

[code]

[2015-12-17 08:24] nerzhul commented on #21
@computerfr33k warning we switched from eclipse to Android Studio

[2016-01-05 12:40] beerisgood commented on #24
*bump*

I would realy like to use the recovery.

[2016-01-05 12:55] nerzhul commented on #24
@beerisgood yes, sorry i was absent due to things to do IRL, i need some time to do it, but the work is in progress :)

[2016-01-05 18:51] mulles opened #81 "Update of the app ib f droid store"
as for now the app in the f-droid store does not support marchmellow ( android 6.0) May you update it ?

Thx a lot.

[2016-01-06 22:33] nerzhul commented on #81
hi @mulles i'm not the maintainer of F-Droid, i only maintain on the google play store, sorry :(

[2016-01-06 22:33] #81 closed

[2016-01-15 00:39] i2bator commented on #39
Any updates on this bug? thanks

[2016-01-15 07:55] nerzhul commented on #39
@i2bator sorry for to be late, i'm very busy IRL and the only developper on the project atm (except some contributions). If i get some time, i will look at this this weekend

[2016-01-17 14:56] RealRancor commented on #63
@nerzhul Currently updating the app on f-droid. Short question, seems OwnCloud-Android-Library is 0.9.9 https://github.com/owncloud/android-library/releases Where are you getting 1.0 from?

[2016-01-17 16:20] RealRancor opened #82 "Provide build.gradle"
Hi,

seems you have moved to Android Studio but the build.gradle to build the app via gradle is missing. Any chances that you could provide this so i can build the new version for f-droid.

[2016-01-18 06:05] nerzhul commented on #82
@RealRancor Added

[2016-01-18 06:05] #82 closed

[2016-01-30 22:56] nerzhul commented on #71
@nyxxo go to nerzhul/ocsms repository instead of this repository for this question, we have a parser for phone number, if you see an issue on it, don't hesitate to do a PR

[2016-01-30 22:56] #71 closed

[2016-01-30 22:57] nerzhul commented on #63
@RealRancor thanks for the tip. I will look at the used lib to upgrade it to latest stable version. Maybe tomorrow

[2016-01-31 19:53] beerisgood commented on #24
_bump_

Any updates on the problem?
Sorry for to nerve but i realy need this D:

[2016-01-31 19:54] nerzhul commented on #24
@beerisgood i'm doing some work on interface refactoring, slowly, and next i will start to implement this

[2016-02-06 09:52] nerzhul commented on #70
Will look at a smoother SSL certificate checking, the used ownCloud Android lib is not very good on this

[2016-02-09 10:49] stefan-niedermann opened #86 "Provide new version for F-Droid"
The current version is outdated (0.18.x)

The current (recommended) version is 0.20.0 (version code 33).

[2016-02-09 16:28] nerzhul commented on #86
I don't provide any F-Droid builds, you should try to build it yourself. I'm working slowly on rewriting the HTTP handling to remove the owncloud library problems but it's not finished yet.

[2016-02-09 16:28] #86 closed

[2016-02-15 20:57] krt16s opened #87 "Missing root project"
The `buildscript` portion of the gradle setup is missing. It looks like this is a multiproject setup, so you should have a `../settings.gradle` and `../build.gradle` while the code you posted most likely belongs in a subfolder like `../app/`.

[2016-02-20 21:10] krisken opened #88 "Error #13"
Server

[code]

Client

[code]

Content of /owncloud/data/owncloud.log

reqId":"WNezTNHiZm1VnVehdSC7","remoteAddr":"","app":"mysql.setup","message":"Specific user creation failed: An exception occurred while executing 'SELECT user FROM m$
{"reqId":"WNezTNHiZm1VnVehdSC7","remoteAddr":"","app":"mysql.setup","message":"Database creation failed: An exception occurred while executing 'GRANT ALL PRIVILE

[2016-02-21 09:18] nerzhul commented on #88
It seems you have a problem in your owncloud DB driver with callback. Don't know why atm but it's not a ocsms problem i think. Will look at this

[2016-02-21 13:02] krisken commented on #88
Hello,

I can give you access to my OwnCloud if you want to?

Kris

Op 21/02/2016 om 10:18 schreef nerzhul:

[2016-02-22 09:25] nerzhul commented on #88
@krisken do you have access to owncloud SMS panel on web interface ?

[2016-02-22 13:14] krisken commented on #88
I sure do have access but i can't change a lot?
When i go to http://my.ip.address/index.php/apps/ocsms/ i see the text
"Please choose a conversation on the left menu".
I don't see anything on the left, just a small gear wheel at the
left-bottom.  When i click on it:
- Max messages on tab loading
- Country code
- Notification settings

That's it.
Is this OK?

Kris

Op 22/02/2016 om 10:25 schreef ne

[2016-03-03 15:48] thfree commented on #63
Fuck it, I only on the third day, was able to collect.

[2016-03-03 19:05] thfree commented on #87
The project is going, but a lot of swearing and dependencies confusion. [http://thfree.ru:83/build/outputs/apk/outputs/lint-results.html](url)

[2016-03-03 19:13] thfree opened #89 "does not create an account after compilation"
0.20.0 - does not create an account after compilation. Drop from a mistake.

Android 5.1.1 (Xperia Z1 Compact)
CyanogenMod 12.1

[2016-03-05 10:48] thfree commented on #89
03-05 13:43:26.487 E/AndroidRuntime(6949): FATAL EXCEPTION: main
03-05 13:43:26.487 E/AndroidRuntime(6949): Process: fr.unix_experience.owncloud_sms, PID: 6949
03-05 13:43:26.487 E/AndroidRuntime(6949): java.lang.RuntimeException: Unable to start activity ComponentInfo{fr.unix_experience.owncloud_sms/fr.unix_experience.owncloud_sms.activities.LoginActivity}: android.view.InflateException: Binary X

[2016-03-05 17:14] nerzhul commented on #89
I think a library is missing

[2016-03-06 10:27] thfree commented on #89
`git clone https://github.com/dmytrodanylyk/android-process-button.git`
~ Build - copying library - build app - starting app

[2016-03-08 22:10] nerzhul commented on #89
what is this android-process-button ? You didn't use gradle ?

[2016-03-09 11:37] thfree commented on #89
Easier buy, but I do not have "google play".
Therefore, I try to compile.
... I use Gradle.

My edits to assemble.
.../progect
add /owncloudAndroidLibrary
add /src/main/java/nrz
add /settings.gradle
`':owncloudAndroidLibrary'
`

edit /build.gradle
[code]

gradle assemble

[2016-03-15 09:59] nerzhul commented on #88
@krisken this is okay for me.
Can you upgrade to last owncloud sms app server side and client side ?

[2016-03-15 09:59] nerzhul commented on #87
@krt16s working is in progress to have a more interesting build.

[2016-03-15 09:59] #87 closed

[2016-03-15 10:00] nerzhul commented on #75
@supersn0b i look at this

[2016-03-15 10:15] supersn0b commented on #75
@nerzhul great! let me know when you need more information or some testing from my side :-)

[2016-03-15 10:20] nerzhul commented on #75
the bug here is we trigger a sync when changing access point whereas you didn't enable it, right ?

[2016-03-15 10:24] supersn0b commented on #75
I think so. The sync setting 'never' is never respected ;-)

[2016-03-16 22:51] est31 opened #97 "Linter fails"
I'm trying to build the 0.20.0 version for f-droid, but it gives me a linter error:

[code]

[2016-03-16 23:04] est31 opened #98 "jitpack"
F-droid only allows whitelisted maven repos. `oss.sonatype.org` is not one of those AFAIK. Currently the reason for the f-droid build to not update to the most recent version is this issue (and #97).

Jitpack is a whitelisted repo. It provides a guide how to set up `build.gradle` with the needed libraries:

* https://jitpack.io/#owncloud/android-library/oc-android-library-0.9.10
* https://jitpack.

[2016-03-17 09:46] nerzhul commented on #98
@est31 if you can, could be good :)

[2016-03-17 09:46] nerzhul commented on #97
@est31 i think nrzandroidlib is outdated on github, i will look at a lib removal at a moment.

[2016-03-18 02:42] est31 commented on #97
Ah yeah, its an issue with nrzandroidlib. Will open a PR using maven, to be able to use nrzandroidlib with jitpack.

[2016-03-18 02:42] #97 closed

[2016-03-18 02:42] est31 commented on #97
jitpack doesn't do lint :)

[2016-03-18 10:51] nerzhul commented on #75
@supersn0b i looked at the code and i see the connectivity manager is called too verify if we can sync... i need to look a little bit more

[2016-03-18 14:04] est31 commented on #98
Fixed by 8805869542aee6befaf6fc57ca1454bc6b1d1a6a

[2016-03-18 14:04] #98 closed

[2016-03-26 11:34] Preovaleo opened #101 "Make an SDK"
Hello,

I need to ask, i think it can be better to do an SDK and make this app depend on the sdk.
This sdk could be integrate in other open source app. App with more functionality.

Are you agree?
Regards

[2016-03-26 14:03] nerzhul commented on #101
@Preovaleo in fact if someone want to enhance the app he can contribute to the repository. Forking app is not useful.

[2016-04-09 13:50] krt16s opened #102 "Missing includes"
Building from the last commit (675940918859ac4c89a1dc3aa4bd7b292713fc57) breaks because of missing includes, e.g.

[code]

[2016-04-09 16:12] #102 closed

[2016-04-09 16:20] #101 closed

[2016-04-15 00:43] jalcine commented on #24
Do you have a branch that you're working on? Might be easier to get help and pool resources.

[2016-04-18 09:07] ioiobzit commented on #70
Hello, it would be great to have this functionality! This issue is what is stopping me to use this awesome project!

All the best.

[2016-04-18 09:10] nerzhul commented on #70
@ioiobzit it works with google play store app (i have a self signed certificate on my test server). But as i remember doesn't work on F-Droid app

[2016-04-19 19:33] bhuvi8 commented on #70
I installed the app from F-Droid repo and the app didn't work with my self signed certificate.
As a workaround, I installed CAdroid app from F-Droid repo to import my self-signed certificate to android trusted store and the sync now works.

[2016-04-19 20:49] nerzhul commented on #70
@bhuvi8 it's the only solution for F-Droid atm because it's a limitation in the owncloudClient library

[2016-05-17 17:38] supersn0b commented on #75
works

[2016-05-17 17:38] #75 closed

[2016-06-26 18:39] cengbrecht commented on #70
If its just an issue with self signed, use letsencrypt. Lots of tutorials telling you how.

[2016-07-03 07:27] kbaegis commented on #70
So I don't use a public domain, therefore letsencrypt isn't a valid solution for me. Also using the certificate store for public certificates annoyingly requires a pin to be entered every time an android phone powers down (constantly).  Legitimate support for self-signed certificates would be greatly appreciated.

[2016-07-03 09:07] nerzhul commented on #70
It's supported with the official version on play store. F-Droid version is not ours.

[2016-07-03 09:08] #70 closed

[2016-07-25 09:15] Mannshoch opened #106 "no connect to server"
- hoster-server.com/cloud  (ssl signed) not work
- cloud.domain.com (selfsigned) not work
- cloud.domain.com/ over http instead https work.
### Server configuration

**ownCloud version:**  8.2.7

**PHP version:** 5.6
### Client configuration

**Android version:** 5.1

**Phone:** Fairphone

**ownCloud SMS app version:** 0.21.2

[2016-07-25 22:30] nerzhul commented on #106
Hi @Mannshoch where did you download the application ?

[2016-07-26 06:22] Mannshoch commented on #106
From the f-Droid App : [https://f-droid.org/repository/browse/?fdid=fr.unix_experience.owncloud_sms&fdpage=2](https://f-droid.org/repository/browse/?fdid=fr.unix_experience.owncloud_sms&fdpage=2)

[2016-07-26 06:23] nerzhul commented on #106
F-Droid app is unofficial build and some things may not work especially on HTTPS. Please use google play store app

[2016-07-26 08:07] Mannshoch commented on #106
I do not have google play configured anymore. It works for CalDAV and CardDAV over https and also the OwncloudClient works with https.

Interessting:
If the Address is https I get in any way:
"Verbindung fehlgeschlagen, ist dies der richtige Server?" -> "Connection Error, is the server correct?"

if the Address is http I get a password error even it's correct.
If the Address is wrong (wrong charac

[2016-07-26 08:26] nerzhul commented on #106
@Mannshoch i don't know which OwncloudClient is present in F-Droid app, but the client i'm using is quite old but working. I need to replace it at a moment

[2016-07-26 11:28] Mannshoch commented on #106
It seems to be the same version like actual the actial released version [0.21.2](https://f-droid.org/wiki/page/fr.unix_experience.owncloud_sms).

Is there maybe a special need for .htaccess entries? I had to remove many entries because my Hoster do not support them.

[2016-07-27 05:34] nerzhul commented on #106
No you don't need special configuration outside of owncloud bare metal configuration. The only problem i see is the build done by F-Droid. Nobody on playstore mention your issue in comments :(

[2016-07-27 06:10] erdoking commented on #106
I used the (paid ;) ) Playstore version 0.21.2 over ssl without any trouble ...

I delete data and uninstalled the official version. After that I installed the F-Droid version and write myself an test sms - works like a charm!

@Mannshoch: can you post any logs? logcat and/or apache logs? Please check also that your ssl-zertificat isn't broken ;)

[2016-07-27 11:59] nerzhul commented on #106
as i remember the application doesn't support /owncloud at the end because server should be a host not and URL.
Maybe i can do some work to add final path to URI permitting to fix that

[2016-08-17 14:39] KillianKemps commented on #24
It would be great if we could have some news. I think this feature would be really useful.

[2016-08-17 14:59] nerzhul commented on #24
i added some endpoint on owncloud server devel application to read SMS from database last month, i started to develop the SMS reading from phone but atm it's only a POC

[2016-08-24 14:30] Dragnucs opened #107 "Support for Silence"
### Steps to reproduce
1. Install and setup [Silence](https://github.com/SilenceIM/Silence) for messaging
2. Send/receive SMSs
3. Wait for sync to happen or force it

### Expected behaviour
Sent and recived messages are synced with the server and visible via ownCloud

### Actual behaviour
No message gets synced.

### Server configuration

**ownCloud version:** 9.1.0 (stable)

**PHP version:** 7.0.

[2016-08-24 23:33] keithzg commented on #106
Wait, so you're saying that if we don't have owncloud installed to the root of our webserver it won't work? That would explain my issues a moment ago when I tried out the app (installed via Google Play; I was honestly going to leave a negative review but then decided to seek out a github issues page instead).

[2016-08-25 07:52] jalcine commented on #24
@nerzhul That's amazing news!

[2016-08-25 11:18] kbaegis commented on #106
Nextcloud/owncloud support this for sure. Your app doesn't?

[2016-08-25 11:55] nerzhul commented on #106
@kbaegis owncloud and nextcloud are supported as i have the twice projects on my server to test it.
I should add a parameter to have a URL after the hostname to ensure the compat, if i get time i will patch it and send update to playstore this weekend

[2016-08-25 12:22] nerzhul commented on #106
@kbaegis it support the twice app, but doesn't support having a path after the domain name, it's a different problem

[2016-08-27 19:03] nerzhul commented on #89
This issue is obsolete

[2016-08-27 19:03] #89 closed

[2016-08-27 19:04] nerzhul commented on #88
ping @krisken

[2016-08-27 19:05] nerzhul commented on #20
I think we could work on this issue for next release :)

[2016-08-27 19:08] #63 closed

[2016-08-27 19:09] nerzhul commented on #39
@stalker145 @i2bator when next release will be published we will handle a little bit more properly return codes to give users a better message

[2016-08-31 19:58] z4nD4R opened #108 "Sync is not working"
### Steps to reproduce
1. Upgrade cloud to 9.0.4
2. Upgrade ocsm on cloud 1.4.1 - 1.7.0
3. Should be enough
### Expected behaviour

Sms are synced up
### Actual behaviour

Can not sync sms. I bought new S6 phone. Installed Owncloud-SMS and sms are not being synced although my sms from telephone were synced to cloud. But from cloud - phone not.
There is some other strange behaviour.
1. After I mark

[2016-09-03 07:12] FabulousPhil commented on #108
I'm having the same problem.
Android: 5.1.1
Phone: Kogan Agora 4G Pro
Owncloud SMS on phone: 0.21.2
Owncloud SMS on server: 1.7.0
Owncloud: 8.1.9
This is really quite annoying and makes it near useless.

[2016-09-07 21:47] nerzhul commented on #108
@z4nD4R it was an accidentally released feature. It was removed in master but i didn't publish the new version yet. I think i will publish the bugfix version soon

[2016-09-13 11:56] gdamjan opened #109 "RFE: also save the call log to owncloud/nextcloud"
I use backupsms+ now that saves the call log and sms's to an IMAP server.

But this one makes more sense.

[2016-09-17 21:13] j0inty opened #110 "sms longer than 2048 characters can not be stored to postgresql Typ character varying(2048)"
### Steps to reproduce
1. Send a message with more than 2048 characters
2. Have a look at the owncloud.log where you can see the occured exception with the error message from postgresql
3.

### Expected behaviour
The SMS stored to oc_ocsms_smsdatas

### Actual behaviour
The SMS will not store into oc_ocsms_smsdatas

### Server configuration

**ownCloud version:**
9.1.0.15

**PHP version:**
7.0.11

[2016-09-19 21:37] nerzhul commented on #110
hi @j0inty wow this is a very huge size for a sms ! it seems you talk a lot. Will publish a fix

[2016-09-19 21:40] nerzhul commented on #109
@gdamjan it's a very nice idea i have since a long time but i miss some time. You can contribute if you want to help us to improve this :)

[2016-09-19 21:43] nerzhul commented on #110
It's now fixed server side. I will release a version a little bit later server side but you can use the master version with the fix for issue.

[2016-09-19 21:43] #110 closed

[2016-09-28 09:13] monsieurpouet commented on #39
I've a same issue :(
I put in the field, may server address and I've the error: "connection failed, ensure this is a right server".
I used to a self-signed certificate too.

[2016-09-29 13:19] nerzhul commented on #39
@monsieurpouet do you use the official play store version ?
The information enhancement hasn't been released yet because i need to finish a new feature

[2016-11-01 16:51] ajna75 opened #112 "Honoring different SMS apps like Silence"
Hi,

I just bought the app for over 1 Euro and unfortunately must see that the app is not honoring the standard sms app which is configured on my smartphone but takes only the sms app which comes preinstalled and which I don't use.
Please see into it, that other standard sms apps like e.g. Silence also synchronize with {Own|Next}cloud.

Thanks in advance.
Best regards, ajna

[2016-11-01 20:43] nerzhul commented on #112
Duplicate #106

Note: standard SMS app is android app, not overriding android backend apps :)
If silence has a library to read its messages i'm okay for adding this

[2016-11-01 20:53] ajna75 commented on #112
Silence app is open source. Fork it on github. Thanks for not just trying to make money but listening to the users, too.

Am 1. November 2016 21:43:56 MEZ, schrieb nerzhul <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2016-11-01 21:02] nerzhul commented on #112
@ajna75 open source permits to do some money. the app only generate two days of paid work whereas i worked on it ~15 days...

[2016-11-01 23:44] di72nn opened #113 "App crashes on incoming SMS"
### Steps to reproduce
Not sure about it. Probably: receive a new SMS when there are no messages.

### Expected behaviour
The app should not crash.

### Actual behaviour
The app crashes.

### Client configuration

**Android version:** 4.4.4 (CM11)

**ownCloud SMS app version:** 0.22.1 (from F-Droid)

### Logs

[code]

I skipped some details from the issue template that seemed to be unrelated. I ca

[2016-11-02 06:43] nerzhul commented on #113
Thanks for the backtrace, will look at this now.

[2016-11-02 06:51] nerzhul commented on #113
Hmmm this is very very strange. We are in the following loop:

[code]
This call works
[code]

but not this
[code]

[2016-11-02 07:19] nerzhul commented on #113
I released 0.22.2 to renforce the strengthness of this code part. Please tell me if it works for you

[2016-11-02 10:52] di72nn commented on #113
I'll test it as soon as F-Droid build it.

I believe `c.getColumnName(idx)` fetches column info and doesn't care about rows, but `c.getInt(idx)` tries to access the first row and fails if there are no rows present.

[2016-11-02 10:54] nerzhul commented on #113
@di72nn this is possible and i fixed the problem that we have an empty cursor content with this release, i hope this will fix your problems

[2016-11-07 08:40] di72nn commented on #113
Seems to be fine now.
Thank you for developing the app, BTW.

[2016-11-07 08:40] #113 closed

[2016-11-07 08:43] nerzhul commented on #113
@di72nn thanks for the feedback and to lookup the code, the refactored code is now more secure :)

[2016-11-21 20:44] d0n601 opened #114 "Sent and Recieved Appear in Different Converstions/Threads"
### Steps to reproduce
1. Installed OwnCloud Server with Contacts App
2. Set contact phone numbers. Phone numbers are input including country code +18085551234
3. Sync phone numbers via CardDav and sync SMS via app

### Expected behaviour
SMS messages appear  in threads according to contact settings. Sent messages, and messages received should appear in the same thread.

### Actual behaviour
SMS m

[2016-11-21 23:07] nerzhul commented on #114
Hi, thanks for the report, but this issue is already set in the backend repo (https://github.com/nerzhul/ocsms)

[2016-11-21 23:07] #114 closed

[2016-11-24 16:34] Mannshoch commented on #106
Owncloud SMS app from f-Droid : 0.22.2
Owncloud server: 8.2.7 (Update next spring to nextcloud  10)

CatLog:
OwncloudAuthenticator: Failed response while getting user information
OwncloudAuthenticator: ** statuscode: 401 ; response message: {"ocs":{"meta":{"status":"failure", "statuscode":997,"message":"Unauthorised"},"data":[]}}

Password is right for sure.

[2016-11-27 09:13] nerzhul commented on #106
@Mannshoch 401 means wrong password, ocsms didn't sent any 401 itself

[2016-11-28 15:57] Mannshoch commented on #106
It seems I have an other Problem. I detected that all Own/Nextcloud Apps On PC/Android work without Problem uploads and downloads work but if I try to share something from this app (share button) I got asked Username and Password and I got on all of them the feedback that the Password is wrong. On all user accounts.

SSL works on every phone unlike in Owncloud SMS.

[2016-12-08 21:21] #108 closed

[2016-12-08 21:22] nerzhul commented on #106
There is no share support in owncloud SMS just sync. SSL doesn't work well with the non official F-Droid build, i didn't support it, sorry :)

[2016-12-08 21:22] #106 closed

[2016-12-08 21:23] #88 closed

[2016-12-08 21:23] nerzhul commented on #88
user timeout

[2016-12-08 21:23] nerzhul commented on #39
This has been improved

[2016-12-08 21:23] #39 closed

[2016-12-08 21:23] nerzhul commented on #20
This feature was implemented in previous release

[2016-12-08 21:23] #20 closed

[2016-12-08 21:24] nerzhul commented on #24
This feature has just been released and will be available on play store in next hours. Sorry for the delay.

Please note server required ocsms 1.11.0 at least to work properly

[2016-12-08 21:24] #24 closed

[2016-12-08 21:25] nerzhul commented on #109
I think the next release will be the time to do this, now we have SMS restore :)

[2016-12-08 21:25] KillianKemps commented on #24
Awesome, thank you! 👍

[2016-12-08 23:12] enoch85 commented on #7
This is true 2-way sync...

![screenshot from 2016-12-09 00-11-57](https://cloud.githubusercontent.com/assets/4511254/21031503/1e463620-bda4-11e6-805a-b1bb1a60f775.png)

[2016-12-13 09:21] stefan-niedermann opened #116 "Move to Nextcloud"
Since all major apps (mail, contacts, notes, news) moved to Nextcloud: Do you have any plans to move to Nextcloud as primary platform?
If yes: I would be able to provide a pull request with new theme-colors and icons if you wish.

[2016-12-13 13:56] nerzhul commented on #116
Hello @stefan-niedermann .
In fact we are already present on the two sides:

https://apps.nextcloud.com/apps/ocsms

Please look at the ocsms repo, this file: https://github.com/nerzhul/ocsms/blob/master/appinfo/info.xml

[2016-12-13 13:56] nerzhul commented on #116
If yo uwant to contribute, theming could be good on android

[2016-12-13 18:23] lepidas opened #117 "error #9: server set unhandled http ret"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
sync sms
### Actual behaviour
Tell us what happens instead
sms not syncing
error #9: server set unhandled http ret
### Server configuration

**ownCloud version:**
10.0.1
**PHP version:**
7.0.8
**HTTPd server:**
apache
**HTTPS:**
yes
### Client configuration

**Android version:**
6
**Phone:**
huawei p8lite
**ownCloud

[2016-12-13 18:28] nerzhul commented on #117
you are not very precise, error 9 means return code is unhandled, ensure your servers works or provide owncloud/nextcloud logs

[2016-12-13 18:45] lepidas commented on #117
Exception: {"Exception":"Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALUES (?,?,?,?,?,?,?,?,?,?)' with params [\"myusername\", \"2016-12-13 18:35:23\", \"2016-12-13 18:35:23\", \"11\", \"1481560356410\", 611, \"+47x

[2016-12-13 18:53] lepidas commented on #117
Iam not sure it's a server side or android app problem though.

[2016-12-14 08:38] nerzhul commented on #117
This is a serverside issue, you have an encoding problem shown in this message

General error: 1366 Incorrect string value: '\xF0\x9F\x98\x8A' for column 'sms_msg' at row 1"

[2016-12-14 18:57] #117 closed

[2016-12-15 04:47] lepidas opened #119 "error #9: server set unhandled http ret"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
sync sms
### Actual behaviour
Tell us what happens instead
sms not syncing
### Server configuration

**ownCloud version:**
10.0.1
**PHP version:**
 7.0.8
**HTTPd server:**
apache
**HTTPS:**
yes
### Client configuration

**Android version:**
6
**Phone:**

**ownCloud SMS app version:**

### Logs

[code]
Exception: {"E

[2016-12-15 08:46] nate2014jatc opened #120 "unable to connect to local OwnCloud instance"
### Steps to reproduce
1. Add new account
2. get failure to connect message

### Expected behaviour
Tell us what should happen

Connects and syncs
### Actual behaviour
Tell us what happens instead
Fails to connect
### Server configuration

**ownCloud version:**
9.1.3
**PHP version:**
7.0.8
**HTTPd server:**
Apache2.4.18
**HTTPS:**
yes
### Client configuration

**Android version:**
7.1.1
**Phone:**

[2016-12-15 10:53] nerzhul commented on #120
Hello,
did you use a self signed certificate ? Where does the app come from ?

[2016-12-15 13:38] efelon commented on #107
+1
This would be really nice to have.

[2016-12-15 13:43] nerzhul commented on #107
It's not very simple as android app are generally sandboxed, and it needs to add a library and silence should notify our app that he receive a message

[2016-12-15 14:07] Dragnucs commented on #107
@nerzhul can't OCSMS hook to the OS and listen for incoming messages, the same way Silence would do?
What would prevent you from reading SMS's directly from Android rather than from the messaging application?

[2016-12-15 14:09] nerzhul commented on #107
It's already the case, but silence add some encryption then SMS are not readable i think

[2016-12-15 17:43] EvilBob01 commented on #120
I have the same issue. I'm running nextcloud11.0.0  I'm using a Self signed certificate. and I got the app
 V0.23.0 from F-droid.
I've tried using http:// from the drop down to mitigate any ssl cert issues. and the message I receive is "UNK"

Any suggestions?

[2016-12-15 18:13] nate2014jatc commented on #120
I'm using a self signed cert, and I got the app from f-droid.

Trying to make a https connection
On Thu, Dec 15, 2016, 10:43 AM EvilBob01 <notifications@github.com> wrote:

I have the same issue. I'm running nextcloud11.0.0 I'm using a Self signed
certificate. and I got the app
V0.23.0 from F-droid.
I've tried using http:// from the drop down to mitigate any ssl cert
issues. and the message I rece

[2016-12-15 19:44] nerzhul commented on #120
The problem is the F-Droid build which is not official and doesn't include the patched owncloud library for connecting into https, sorry

[2016-12-15 19:44] nerzhul commented on #119
Same as before, you have an encoding issue with your SMS

[2016-12-15 20:09] EvilBob01 commented on #120
That's good to know. I appreciate you replying it saves me so much time
troubleshooting.

I wasn't aware that the F-Droid build was not official. It's mentioned
here https://github.com/nerzhul/ownCloud-SMS-App/README.md

If I grab the source on github and build it will that include the
patched OC library? Or is Google Play the only supported / recomended build?

Thanks again for your time and work

[2016-12-16 06:17] lepidas commented on #119
the server mysql is set to utf8_bin

[2016-12-16 22:18] enoch85 opened #122 "Can't login with Android 7.1.1"
### Steps to reproduce
1. Download the Nextcloud server app
2. Download the phone app in Play Store
3. Try to login with correct credentials

### Expected behaviour
I should be able to login

### Actual behaviour
It says that I have the wrong password or username

### Server configuration

**Nextcloud version:**
11
**PHP version:**
7.0
**HTTPd server:**
Apache 2.4
**HTTPS:**
Yes
### Client configu

[2016-12-18 08:33] sarnold commented on #120
Could you be a little more specific please?  What patch and where is it?  Does it exist in the owncloud library repo or are you keeping it secret?  Open source is kinda the opposite of secret-sauce patches...

[2016-12-18 19:41] nerzhul commented on #122
I didn't touch the login thing, related to nextcloud itself, but first, please ugprade server to 1.11.0 at least

[2016-12-18 19:52] nerzhul commented on #120
The patch is only removal a security on the lib on self signed certificates because lib isn't very aware to this and doesn't resend a return back to client to allow him to allow the self signes certificates

[2016-12-19 00:11] jajaX commented on #122
Hi !

same problem with owncloud 9.1.3, ownCloud SMS  1.11.0 and Android ownCloud SMS 0.23 (from f-droid) under Android 7.1.1 (Cyanogemod 14.1)

=> connexion failed. are you sure it's a good server  ?

yes, i'm sure !

[2016-12-19 09:04] Ecphrasis commented on #122
Hi !

Same problem here, with nextcloud 11.0.0,  Nextcloud SMS 1.11.3, and Android owncloud SMS 0.23.0 (from Google play) under Android 6.0 (looks like it's not related to android 7).

[2016-12-19 09:21] nerzhul commented on #122
I have nextcloud 11.0, same tag, same android version... maybe it's related to new security politic ?

I'm using LDAP, what auth backend did you use ? Authentication is done by Nextcloud itself neither by ocsms server nor client, we are just sending credentials.

[2016-12-19 09:31] nerzhul commented on #122
Another question, is this a nextcloud or app first install ?

[2016-12-19 10:06] Ecphrasis commented on #122
I use couple login and password, it's an old nextcloud updated since the first release of nextcloud, in june I think :) I bought your app yesterday night, two days after update to nextcloud 11.0.0

[2016-12-19 10:08] nerzhul commented on #122
Okay, maybe i should look at application backend with no information stored using an emulator.

Do you have a logcat or something similar on your phone ? Could be good to have app logs

[2016-12-19 10:09] Ecphrasis commented on #122
I don't have logcat, but I can install one, if you tell me where is it ;)

[2016-12-19 10:10] nerzhul commented on #122
on the playstore you can download logcat application, and then you can view all your logs, then filter on this application

[2016-12-19 10:20] Ecphrasis commented on #122
I tried two apps, but I have no root permission. I can't read the others apps logs...

[2016-12-19 10:30] Ecphrasis commented on #122
I see the aborted connections in the panel admin logs :

![log](https://cloud.githubusercontent.com/assets/11899009/21309339/4241ca84-c5de-11e6-906e-eedfb1f1303c.jpg)

and in the nextcloud.log :

[code]

[2016-12-19 10:59] enoch85 commented on #122
I installed the app for the first time on my current phone, FYI @nerzhul

[2016-12-19 11:01] nerzhul commented on #122
@Ecphrasis the last line is not related with our app, it's files app.
I think it's related to first installation... Something may be wrong in the first credential testing/save

[2016-12-19 11:02] nerzhul commented on #122
I will look to this bug very soon, This week i hope (it's Christmas, not easy to work)

[2016-12-19 11:08] Ecphrasis commented on #122
Yes, but it appears each time I try to connect ;)
Every attempt to connect creates systematically these three lines...

[2016-12-19 12:12] nerzhul commented on #122
Can you give me apache/nginx access logs ?

[2016-12-19 14:21] Ecphrasis commented on #122
`88.125.120.145 - florian [19/Dec/2016:10:02:01 +0100] "GET /index.php/ocs/cloud/user?format=json HTTP/1.1" 302 4763 "-" "Android-ownCloud"`
`88.125.120.145 - - [19/Dec/2016:10:02:02 +0100] "GET /index.php/apps/files/ HTTP/1.1" 401 1381 "-" "Android-ownCloud"`

Every time, I have these two lines in the access.log.

[2016-12-19 14:24] nerzhul commented on #122
Okay, it seems /index.php/ocs/cloud/user?format=json redirect you to /index.php/apps/files/

[2016-12-19 19:14] ezraholm50 commented on #122
Anyone has the 2 factor auth enabled?

[2016-12-19 20:30] enoch85 commented on #122
Nope @ezraholm50

[2016-12-20 18:24] nerzhul commented on #122
Ok i can reproduce the problem with a fresh Android emulator using my own nextcloud 11

[2016-12-20 18:24] nerzhul commented on #122
Error is in the owncloud official library:

[code]

[2016-12-20 19:48] nerzhul commented on #122
I'm working on a fix but this will be longer than i think

[2016-12-20 20:35] nerzhul commented on #120
owncloud library is now dropped from our app, it's not necessary, now i need to ensure self signed certificates works

[2016-12-20 21:19] nerzhul commented on #122
This is now fixed in master branch

[2016-12-20 21:19] #122 closed

[2016-12-20 21:20] nerzhul commented on #120
This is now fixed by 1257de1a0a6d5f768b406b8aa9fb9ced5a92ab40 owncloud library was removed and the client is now very simple, not up to date atm because we are using legacy apache commons http client but we should move to recent later.

Can you build 0.23.2 release and test it ?

[2016-12-21 19:55] #116 closed

[2016-12-23 08:05] nwcatalyst commented on #107
What about Signal? Since Signal is not encrypting the sms/mms (and we Signal users have a web interface via their Chrome app) it would be awesome to pull the sms/mms from Android and relay to the Nextcloud web interface.

[2016-12-23 11:37] Dragnucs commented on #107
@nerzhul Yesterday I mistakenly enabled 'message syncronization' in Android's email application and it could sync SMS while I was using Silence. We may then see how they do it?

[2016-12-24 13:08] Florentin68 commented on #119
Hello
I also have this encoding issue.
`[Sat Dec 24 14:04:37.976092 2016] [:error] [pid 8640] [client x.x.x.x:51042] {"reqId":"0EY+FTZqYxcOcG006F0j","remoteAddr":"x.x.x.x","app":"index","message":"Exception: {\\"Exception\\":\\"Doctrine\\\\\\\\DBAL\\\\\\\\Exception\\\\\\\\DriverException\\",\\"Message\\":\\"An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastm

[2016-12-25 16:08] Xefir opened #127 "Circular redirect on latest Android version"
### Steps to reproduce
1. Add your Nextcloud instance
2. Synchronise
3. Get the error in notification center

### Expected behaviour
We should synchronise successfully without the "error #9: server set unhandled http return"

### Actual behaviour
The synchronisation leads to "error #9: server set unhandled http return" in the notification bar

### Server configuration

**Nextcloud version:**
11.0.

[2016-12-25 22:15] nerzhul commented on #127
A circular redirect ? have you properly installed server backend ?

[2016-12-25 22:16] nerzhul commented on #119
I think we should find how to solve the MySQL backend problem... PostgreSQL doesn't have those conversion problems...

[2016-12-30 07:54] Xefir commented on #127
Yes, I have NextCloud and the ocsms app installed via the App Store. Moreover, it stops working when I migrate to NextCloud and only your app have this behavior, so I don't think it was something to do with the server's configuration. Something I forgot to add : my NextCloud is behind a reverse proxy, but I don't think it would matter. Sorry for the delay and have an early happy new year :)

[2016-12-30 08:06] nerzhul commented on #127
@Xefir i have 2 reverse proxies behind my nextcloud instance and i didn't notice this problem... did you see the ocsms app on the server ?

[2016-12-30 16:37] Bugsbane commented on #112
This is marked as a duplicate of #106 however that bug seems to be about a connection problem, not anything about alternative SMS apps. I suspect that you meant that is a duplicate of #107 .

[2016-12-30 16:39] nerzhul commented on #112
exact @Bugsbane it's a typo fix

[2016-12-30 16:39] #112 closed

[2016-12-30 23:27] Xefir commented on #127
Yep, the ocsms app in NextCloud works and show me the past SMS synced, I cancel mark as read messages when I click on them, so yeah, no problem and no error in the NextCloud logs

[2017-01-01 10:06] nerzhul commented on #120
This is definitively fixed and we didn't use owncloud library, less memory usage and better support for SSL (not the best but works everywhere)

[2017-01-01 13:38] Xefir commented on #127
I sent you an email. Thank you :)

[2017-01-01 21:13] ShamimIslam commented on #122
Do I need to upgrade my NextCloud 11 instance? Is this related to ownCloud android 2.2.0 from Google Play not being able to log into NextCloud 11?

Thanks.

[2017-01-01 22:10] nerzhul commented on #122
@ShamimIslam i don't think it's related, but the last release fix our issues

[2017-01-01 22:58] ShamimIslam commented on #122
Which release? 11.0 stable?

On Sun, Jan 1, 2017 at 5:10 PM, nerzhul <notifications@github.com> wrote:

[2017-01-02 00:27] ShamimIslam commented on #122
Ok - what version of the android application should I be using to avoid the
problem? I downloaded form the play store.

On Sun, Jan 1, 2017 at 5:59 PM, nerzhul <notifications@github.com> wrote:

[2017-01-02 06:43] nerzhul commented on #122
latest fixes the problems, else please open an issue with owncloud logs & android app logs

[2017-01-02 06:44] nerzhul commented on #119
Encoding issue is now fixed in server app 1.11.4

[2017-01-02 06:44] #119 closed

[2017-01-02 06:46] ShamimIslam commented on #122
Ok - no problem. I believe I have the latest client from Google Play.

On Mon, Jan 2, 2017 at 1:43 AM, nerzhul <notifications@github.com> wrote:

[2017-01-08 14:32] lepidas commented on #119
Indeed error #9 is history :)

[2017-01-12 11:31] MarcSN311 opened #128 "HTTP Error 400 Results in Error #9"
Hi,
im getting Error #9 on a regular basis. The server access log says:
`XXX.XXX.XXX.XXX - user [12/Jan/2017:05:16:49 -0600] "GET /index.php/apps/ocsms/get/smsidlist?format=json HTTP/1.1" 400 166 "-" "Jakarta Commons-HttpClient/3.1"`

but there are no other entries in any other log file.

### Server configuration

**ownCloud version:**
`Nextcloud 11.0.0 `

**PHP version:**
`PHP 5.6.29-0+deb8u1 (cl

[2017-01-12 14:37] nerzhul commented on #128
error 400 from server ? very strange, have you got some PHP logs ? can you run yourself the query using curl ?
curl -v --basic -u <user> https://cloud../index.php/apps/ocsms/get/smsidlist?format=json and give us the return ?

[2017-01-12 18:31] MarcSN311 commented on #128
The php logs don't report any errors! All log files I can find (Nextcloud log, php log, php-fpm log, nginx error log) are empty even though I get the error multiple times a Day. I don't get it always though...
I wrote a small script provoke the error using curl, I'll report the Output as soon as I get any!

[2017-01-15 11:11] MarcSN311 commented on #128
Hello,
I've been trying to reproduce this error using curl, but it doesn't occur. Is there a way to enable debug logging in either the server or the client?

[2017-01-15 12:37] nerzhul commented on #128
okay, thanks for your return, you can have more informations by using logcat either on your phone or on your computing enabling developper mode

[2017-01-16 17:11] cptMikky opened #129 ""Unable to perform a HTTP connection" when connecting to https server with Let's Encrypt certificate on Android 4.4"
### Steps to reproduce
1. Have ownCloud installation on a server with a Let's Encrypt certificate
2. Install app on Android KitKat (CM11 in my case)
3. Try to create an account in App via https
4. "Unable to perform a HTTP connection"

### Expected behaviour
App connects and creates an android account

### Actual behaviour
"Unable to perform a HTTP connection"

### Server configuration

**ownCloud

[2017-01-18 19:37] MarcSN311 commented on #128
Here is some logcat output. I don't know where this redirect comes from, i can't see it in the servers access log.
[code]

[2017-01-18 19:51] MarcSN311 commented on #128
Here is the Logcat output:
[code]
and the corresponding access log output:
[code]

[2017-01-18 21:57] nerzhul commented on #128
I will release a new version with the previous fix & some more soon, i will look at the backlog to ensure stability, because some things changed, i hope you will test with newer version

[2017-01-18 23:24] adamlove86 opened #131 "Sync old messages"
Would love to be able to sync my old messages as a backup - perhaps it wouldn't be too hard for the app to slowly go through and back up/sync my old messages over time?

I'm running Nextcloud 11, Ubuntu, Nextcloud SMS 1.11.4

Have been asked to reopen issue in this repo
https://github.com/nextcloud/ocsms/issues/156

Thanks in advance and if there's anything else I can help with, please let me know

[2017-01-19 08:43] nerzhul commented on #127
This should be fixed in latest release i published yesterday to play store. I keep this issue opened as you give me credentials and i forget to test with it

[2017-01-19 10:08] MarcSN311 commented on #128
I'm receiving Error #9 on HTTP 302 now, but only when the App sends POST requests:
[code]

[code]

[2017-01-19 21:52] nerzhul commented on #128
Okay noted 302 and your client doesn't follow it, right ?

[2017-01-19 23:04] enoch85 opened #132 "Move this repo to Nextcloud as well"
As the subject says.

[2017-01-20 08:53] Xefir commented on #127
0.24.0 ?

There are some progress, we don't have the stacktrace anymore, but a 302 :

[code]

On the access logs :

[code]

Thank you :)

[2017-01-20 08:57] nerzhul commented on #128
note for me: http://www.baeldung.com/httpclient-redirect-on-http-post

[2017-01-20 10:21] nerzhul commented on #128
Okay i understood a little bit the problem looking at owncloud client library, to know how their redirection mode works.
I pushed some fixed for redirection and tag 0.24.1 but i cannot release it yet, i will do it this evening. If you are able to test this release before i release it, this can be very good :)

[2017-01-20 10:22] nerzhul commented on #129
Can you provide logcat logs and re-test with 0.24.0 at least ?

[2017-01-20 10:23] nerzhul commented on #127
dup with #128 , i close this ticket to have only one discussion area

[2017-01-20 10:23] #127 closed

[2017-01-20 12:38] nerzhul commented on #132
I thought about this but it's not ready for this atm, waiting for more features

[2017-01-23 21:39] dienteperro opened #135 "Unable to sync messages if emoji/emoticons in them"
### Steps to reproduce
1. Send or receive a sms with some emoji/emoticons in them.
2. After some tries Nextcloud SMS client will report: Nextcloud SMS: Fatal error! Error #9: Server set unhandled HTTP return code
3. The thread with the emoji symbols will not sync.
4. Delete the sms with the emoji in it and Nextcloud SMS client will sync fine again.

### Expected behaviour
Nextcloud SMS should sync

[2017-01-23 22:19] enoch85 commented on #135
Could be utf8mb4 related.

[2017-01-23 22:22] enoch85 commented on #135
https://mathiasbynens.be/notes/mysql-utf8mb4

[2017-01-24 09:05] nerzhul commented on #135
I looked at the whole nextcloud source code to understand how this can be fixed.

Please add 'mysql.utf8mb4' => true, to your config.php

See: https://github.com/nextcloud/server/blob/33ca69166a41188a6e19849243c5e1c2a16860dc/config/config.sample.php#L1243

You may need to alter your MySQL tables after this, like mentioned in @enoch85 article:

[code]

Or just use a real SQL engine, pgsql (_joke_)

[2017-01-24 09:06] nerzhul commented on #135
Also please note this issue is purely server side and should be opened in https://github.com/nextcloud/ocsms

[2017-01-24 09:28] enoch85 commented on #135
Small guide: https://github.com/nextcloud/vm/issues/97#issuecomment-273812862

[2017-01-25 00:05] dienteperro commented on #135
After all not really an issue! I found in the documentation the correct setup for server in order to support emoji! Sorry

[2017-01-25 00:05] #135 closed

[2017-01-25 19:11] MarcSN311 commented on #128
Can you send me a precompiled apk? i don't have an android compiler ready right now

[2017-01-25 21:19] nerzhul commented on #128
i have tested the version on my phone since 2 days, i will publish apk on play store soon

[2017-01-26 06:49] nerzhul commented on #128
Apk is in publication process in appstore

[2017-01-26 13:09] Thoumou commented on #107
+1 to support Silence app

[2017-01-30 20:08] jonlachmann commented on #131
Just wanted to say I would LOVE this feature, then I can finally give up Mightytext and be self-reliant!

Great app still!

[2017-01-30 22:15] nerzhul commented on #131
Mightytext ?

[2017-01-30 22:35] jonlachmann commented on #131
https://mightytext.net/ it is like imessage for android, but rather expensive if you want the pro edition

[2017-01-30 23:30] adamlove86 commented on #131
Agree! I've had Mightytext for two years but the Chrome Extension freezes my computer... Seems to take up a hideous amount of RAM. Refusing to pay for a third year because it hasn't been fixed - and considering how much it costs.... =/

[2017-01-31 20:12] enoch85 opened #139 "Activate translations on Transifex"
Now when https://github.com/nextcloud/ocsms/issues/166 is merged, we should activate this on the client side as well.

@MorrisJobke Here is the ticket. ;) Does @nerzhul need to do anything? There are already manual translations here: https://github.com/nerzhul/ownCloud-SMS-App/tree/master/src/main/res

[2017-01-31 20:58] MorrisJobke commented on #139
Yes - @nextcloud-bot needs to be added as collaborator to this repo ;)

[2017-01-31 22:12] enoch85 commented on #139
@nerzhul --^ Please

[2017-02-03 15:08] enoch85 commented on #139
ping @nerzhul

[2017-02-03 15:20] nerzhul commented on #139
@enoch85 done, but i don't see how to intergrate it properly without breaking current app

[2017-02-03 15:21] nerzhul commented on #139
how translations work on server side app ? i see some JS files are now included, but how can i integrate them efficiently ?

[2017-02-03 16:25] enoch85 commented on #139
@MorrisJobke --^

@nerzhul I don't know how this works actually.

[2017-02-03 18:28] MorrisJobke commented on #139
Just leave everything as it is. I will setup the "Android" style of translation files (as they are in that way already). So you should have no overhead here.

[2017-02-03 19:03] MorrisJobke commented on #139
And it runs. Every night at roughly 2 am UTC it runs and updates the translations from transifex. It pushes new english versions and fetches new translations from transifex. So if you edit the translation in this repo directly they will be overwritten. You need to do the change on transifex.

https://github.com/nerzhul/ownCloud-SMS-App/commit/c9c2701355047d2153d0fe938a9fa7b87b4eaac4

https://www.t

[2017-02-03 19:18] enoch85 commented on #139
Great, it works! Thanks @MorrisJobke

Thoug one strange thing, it seems it catches strings as well:
![screenshot from 2017-02-03 20-17-59](https://cloud.githubusercontent.com/assets/4511254/22604900/e10cfede-ea4d-11e6-92e4-2f2b3bdff171.png)

[2017-02-03 19:42] enoch85 commented on #132
Also, change name of the app in Play:
![screenshot_20170203-204045](https://cloud.githubusercontent.com/assets/4511254/22605683/44dd16ee-ea51-11e6-8557-52a51fe35cb0.png)

[2017-02-03 19:43] enoch85 commented on #139
Issue solved anyway, so closing. Still waiting for answers on ---^ though @MorrisJobke

[2017-02-03 19:43] #139 closed

[2017-02-03 19:49] enoch85 opened #141 "SMS doesn't get synced on Android 7.1.1"
### Steps to reproduce
1. Activate Nextcloud SMS on Nextcloud App store
2. Download ownCloud SMS from Plat store
3. Configure the apps
4. Sync

### Expected behaviour
SMS should show up in the App on Nextcloud

### Actual behaviour
The Android client syncs without any issues, but no messages show up in the Nextcloud App. Permissions error in Android 7.1.1? I allowed it to access both SMS and Conta

[2017-02-03 20:34] MorrisJobke commented on #139
That's how it is listed as english source string: https://github.com/nerzhul/ownCloud-SMS-App/blob/32475e72e6533a68b4ba3740f4889130233c76c7/src/main/res/values/strings.xml#L37

Just fix the english version and it will get updated on transifex automatically ;)

[2017-02-03 21:00] enoch85 commented on #139
Aah, don't know how, but I'll have a look. :+1:

[2017-02-03 21:03] enoch85 commented on #139
Aaah ok, so everything with `<string name=` is fetched I guess.... @nerzhul Could those be removed or renamed?

[2017-02-03 21:06] nerzhul commented on #139
no, account_type cannot move outside of this at this moment without breaking application, this needs testing on app

[2017-02-03 21:07] nerzhul commented on #141
Can you look at logcat logs and your http daemon access logs ? without this it's too vague

[2017-02-03 21:08] enoch85 commented on #139
@nerzhul What about https://github.com/nerzhul/ownCloud-SMS-App/blob/32475e72e6533a68b4ba3740f4889130233c76c7/src/main/res/values/strings.xml#L33-L45 Any of them?

[2017-02-03 21:12] enoch85 commented on #141
logcat? https deamon?

[2017-02-03 21:46] nerzhul commented on #141
logcat is android syslog like, you can have a frontend installing some apps, or on your computer, you can filter per application

[2017-02-03 21:47] enoch85 commented on #141
Sorry, I have no clue what you are taking about. Do I need to install the Android SDK for this, or can I find the logcat on my server? Or is it a Chrome log?

[2017-02-03 21:49] nerzhul commented on #141
logcat is purely android side, you have some android apps for this, or you can use adb from android sdk.

For the server side only access logs on your http server (apache or nginx) are sufficient

[2017-02-03 22:06] enoch85 commented on #141
Can't find anything in my server logs, and it seems I need a rooted phone to access logcat.

But, I noticed when I sync it shows an error, but there is no time to read it as it only shows for like 3 ms.

[2017-02-03 22:20] enoch85 commented on #141
Where do I find the recent log messages on the phone? Where are errors logged in the server? As loglevel 4 in Nextcloud log?

[2017-02-03 22:21] nerzhul commented on #141
@enoch85 i think just enabling developper mode on your phone can help.

For server errors, in nextcloud errors if fatal, else look at your apache access logs

[2017-02-03 22:30] enoch85 commented on #141
Activated developer mode but can't grant access to logcat.
![screenshot_20170203-232602](https://cloud.githubusercontent.com/assets/4511254/22611012/ad406148-ea68-11e6-9a90-1cf73b2b6759.png)

No fatal error in the log for ocsms...

[2017-02-04 10:37] devz3r0 commented on #141
Hi,
I got you app too, and have the same issue with my 7.1.1 device but I have rooted it and filtered the OCC part out:

`02-04 11:29:53.513 I/OCSMSOwnCloudClient(9720): HTTP Request done at try 1
02-04 11:29:53.571 E/OCSMSOwnCloudClient(9720): Server set unhandled HTTP return code 500
02-04 11:29:53.572 E/OCSMSOwnCloudClient(9720): Status code: 500. Response message: <!DOCTYPE html>
02-04 11:29:5

[2017-02-04 12:23] nerzhul commented on #141
can you provide your data/owncloud.log file please ? it's an error 500 server side

[2017-02-04 13:14] enoch85 commented on #141
@devz3r0 --^ Please :)

[2017-02-04 13:23] devz3r0 commented on #141
Hi, I was at lunch, here is the anonymized log:

`{"reqId":"OFRyEsUvh5EHN7Tn9Zzb","remoteAddr":"<MY-IP>","app":"index","message":"Exception: {\"Exception\":\"Doctrine\\\\DBAL\\\\Exception\\\\DriverException\",\"Message\":\"An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALU

[2017-02-04 16:17] nerzhul commented on #141
Encoding problem in database, do you use MySQL ?

[2017-02-04 16:36] devz3r0 commented on #141
Yes, generally that is not an issue with special german characters. i am using utf8_bin and innoDB

[2017-02-04 17:02] devz3r0 commented on #141
i did:
`ALTER TABLE oc_ocsms_smsdatas CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_bin;`
that worked, but it didn't help.

[2017-02-05 09:22] nerzhul commented on #141
@devz3r0 if i remember there is other things to do, maybe we should add this in README.md

[2017-02-05 09:29] devz3r0 commented on #141
that file would barely one see, who installs your app via the cloud-repo.

[2017-02-09 22:28] enoch85 commented on #141
I suddenly started to work for me, but I still get Error #9 quite often.

[2017-02-12 22:55] AndyScherzinger commented on #139
Hi @enoch85 @nerzhul
I can be moved (see Nextcloud Android app source) or at least be marked as not to be translated (there is an attribute for it). You can also just open an issue and assign it to me and I'll to the move 🚀

[2017-02-13 08:27] enoch85 opened #143 "Move strings"
This is an issue for you @AndyScherzinger ;)

https://github.com/nerzhul/ownCloud-SMS-App/issues/139#issuecomment-279258149

[2017-02-13 08:27] enoch85 commented on #143
Can't assign you, maybe @nerzhul can.

[2017-02-13 08:50] nerzhul commented on #143
I don't want those strings to be moved, but yes we can mark them as not translatable

[2017-02-13 08:55] nerzhul commented on #143
I'm tagging those values as not translatable now

[2017-02-13 09:04] devz3r0 commented on #141
i applied the fixes on my mysql installation,
https://docs.nextcloud.com/server/11/admin_manual/maintenance/mysql_4byte_support.html
now it's working, thanks.

[2017-02-13 09:08] #141 closed

[2017-02-13 09:49] #143 closed

[2017-02-15 17:16] jtal7 commented on #129
I believe to have a similar problem: Upon trying to set up NextcloudSMS account on phone and "sign in" the error message is displayed as above
_"Unable to perform a HTTP connection. Please ensure there is a web server"._
This happens although a https (and not http) connection was requested.

**Server**: Linux, Apache 2.4.25, MariaDB 10.0.29, PHP 5.6.30 running at home
owncloud-9.1.4 with a self-si

[2017-02-24 16:45] Cosmostrix commented on #129
I have the same issue.

**NGINX LOG:**
SSL_do_handshake() failed (SSL: error:14094416:SSL routines:ssl3_read_bytes:sslv3 alert certificate unknown:SSL alert number 46) while SSL handshaking

**LOGCAT:**
fr.unix_experience.owncloud_sms.activities.LoginActivity.UserLoginTask: Failed to login, IOException occured: Certificate expired at Mon Feb 01 23:50:55 JST 2016 (compared to Sat Feb 25 01:29:47 JS

[2017-02-24 17:49] cptMikky commented on #129
I'll have to check logs as well but I don't use any client certificate so this is either a different problem or the cause is somewhere else.

I wasn't able to test it further since I lost the "old" phone with KitKat and it works with Android 6 on Xperia Z5 so I presume it may have something to do with Let's Encrypt certificates not being trusted by KitKat.

[2017-02-24 18:25] Cosmostrix commented on #129
I use Android 5 but experiencing the issue. I checked standard browser and system CAs so I can say Let's Encrypt certificates are trusted.

[2017-03-15 04:58] Laupe opened #146 "Big traffic applications when synchronizing"
Applications in realtime synchronization transmission. Consumes one month in heavy traffic - can transmit Over 3 GB of data!

It's somehow optimize? It does not affect me Big sms. For me, there's too much reading mode around.

[2017-03-15 07:03] nerzhul commented on #146
How many SMS do you send per month ? 3GB seems very huge, as we send incremental parts

[2017-03-15 09:58] Laupe commented on #146
for February 2017, it was exactly 13 799

[2017-03-15 13:35] nerzhul commented on #146
@Laupe i have similar entry number but app doesn't resync all messages. First for reduce usage, you can change interval of differential resync, move from 15 minuts to 1h or more. SMS are also sent directly at sending or reception, outside of this sync process to guarantee faster delivery.

Sync is differential, you send your available ID since a date, server tell you how many SMS you need to send,

[2017-03-23 20:21] harpogit opened #147 "Error #15 can't synchronize"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
Trying to synchronize an android phone for the first time with Nextcloud on a local server (Yunohost 2.5.6 - Debian 8.7 32bit (Linux 3.16.0-4-armmp)

### Actual behaviour
Tell us what happens instead
Error#15
### Server configuration

**Nextcloud version:** Nextcloud 11.0.2

**PHP version:**5.6.30

**Webserver:**

*

[2017-03-23 20:27] nerzhul commented on #147
Can you provide nextcloud server logs and if possible android logcat logs ?

Generally it means you didn't install the server side part

[2017-03-23 20:32] mario commented on #132
@nerzhul I'd be happy to help sponsor your move to the Nextcloud umbrella, as well at the app name change. Along with @AndyScherzinger and other contributors, we could work on all ecosystem apps to have the same touch & feel and overall have a lot of fun.

[2017-03-24 07:35] nerzhul commented on #132
Hi, thanks for your enthusiasm. App name has already changed. For the other point, it's not time for this

[2017-03-24 10:40] AndyScherzinger commented on #132
@nerzhul I think what Tobias meant with the app name is the store listing: https://play.google.com/store/apps/details?id=fr.unix_experience.owncloud_sms where the app is named ownCloud SMS and the screenshots are showing the 0.2x.x version I think.

[2017-03-24 10:47] nerzhul commented on #132
you cannot change the app id, when created it's definitive. But yes screenshots are a bit outdated i should change them, based on this issue :)

[2017-03-24 10:51] mario commented on #132
I think we all mean the application name which can be changed, not the app
id :)

On Fri, Mar 24, 2017 at 11:47 AM, Loïc Blot <notifications@github.com>
wrote:

[2017-03-24 15:44] AndyScherzinger commented on #132
exactly, what @mario meant and also what I meant is:
![play](https://cloud.githubusercontent.com/assets/1315170/24301879/02103b30-10b1-11e7-9337-536900f0543d.png)

1. The Logo is still the dark blue one
2. The Name is still the old one
3. The screenshots are still the old ones
4. The description doesn't refer to both (Nextcloud and ownCloud)

All I meant was regarding the store listing. The app id

[2017-03-24 15:46] AndyScherzinger commented on #132
@nerzhul If you want I can do some screenshots and post them here so you don't have to spend the effort. No problem :)

[2017-03-24 16:01] nerzhul commented on #132
i can do it :)

[2017-03-24 16:03] enoch85 commented on #132
Would it be possible to move this repo to `nextcloud/nextcloud-sms` as well?

[2017-03-24 16:05] nerzhul commented on #132
i updated the typo on play store, not the screenshots, i will do it later

[2017-03-24 16:05] mario commented on #132
Loic has to decide and I can make it happen.

On Fri, 24 Mar 2017 at 17:03, Daniel Hansson <notifications@github.com>
wrote:

[2017-03-24 16:06] nerzhul commented on #132
@enoch85 maybe later but not now

[2017-03-24 16:08] enoch85 commented on #132
@nerzhul What's stopping you? :)

[2017-03-24 16:18] AndyScherzinger commented on #132
@nerzhul sorry for the nit-picking :) Nextcloud is written with a small "c"

[2017-03-27 11:32] harpogit commented on #147
Hi Nerzhul,

I'm afraid I don't know which log I've to provide. In /var/log/ there are plenty of log files, but no Nextcloud one.
$ ls /var/log/ give me :
[code]
I don't know either where to find Android logcat logs.
:(
I don't know what is the server side part.
:((
I just installed Nextcloud instance with sms synchro  **Phone Sync 1.11.5** on Yunohost server and **Nextcloud SMS** 0.24.1 and **Nex

[2017-03-27 12:03] nerzhul commented on #147
for logs, it should be in php5-fpm logs, please check the php errors related to our app here

[2017-03-27 12:14] harpogit commented on #147
I've got only that in /var/log/php5-fpm.log :
``
[27-Mar-2017 06:25:09] NOTICE: error log file re-opened
``
??

[2017-04-03 11:12] oldnomad commented on #129
For me the problem occurs with Nextcloud SMS version 1.0.0. Logcat was weird: it said that certificate expired on Apr 02 02:59:59 GMT+03:00 2017; however, my Let's Encrypt certificate was _issued_ on 01 Apr 2017 23:17:00 UTC.

After checking the NC instance with Qualys SSL checker, I found that it actually returns _two_ certificate chains: valid Let's Encrypt certificate that I've installed, and a

[2017-04-03 11:44] nerzhul commented on #129
hi @oldnomad,
i don't really know why you are blocked. We are using a standard Android SSL connection method, maybe we are less lazy than other apps ? You should not return 2 certificates, i don't know how this is possible.

[2017-04-03 17:55] oldnomad commented on #129
After some experiments I can finally tell what is happening in my case.

My hosting provider has a wildcard certificate for all his subdomains, which expired. For my subdomain I've installed a Let's Encrypt certificate, which is valid. However, valid certificate is returned only if the client uses SNI (seems logical, SNI is the only way to know the host name at TLS handshake stage). I suppose that

[2017-04-03 18:06] nerzhul commented on #129
Oh our client doesn't support SNI it's a real problem. But my nginx has multiple certificates and it works... Hmm

[2017-04-03 20:25] oldnomad commented on #129
Several certificates aren't a problem, at least without pinning. The problem occurs only when the "generic" certificate (returned without SNI) is invalid.

[2017-04-19 13:21] kbaegis commented on #107
+1

[2017-04-25 09:15] okias opened #148 "#16 when AFWall allows connection only on Wifi"
I permanently getting error #16, when application is set to synchronize only over WiFi and AFWall is configured to allow only WiFi connections.

LineageOS 14.1 (Android 7.1.1)

[2017-04-25 16:29] nerzhul commented on #148
what is afwall ?

[2017-04-25 20:07] okias commented on #148
@nerzhul it's firewall, https://f-droid.org/repository/browse/?fdid=dev.ukanth.ufirewall&fdpage=2

[2017-04-26 05:19] nerzhul commented on #148
are you able to recompile application to help us to find what is the problem ?

[2017-04-26 05:20] nerzhul commented on #147
Sorry but this error is only a log rotation.

Are you sure you installed ocsms app server side ?

[2017-04-26 05:21] nerzhul commented on #131
@adamlove86 sorry for to be late here, a recent update added resetting synchronization cursor position in Android app, permitting to resync old messages, does that fit to you ?

[2017-04-28 21:54] okias commented on #148
I have Android studio installed, is it enough?

[2017-04-29 09:56] nerzhul commented on #148
yeah, clone, and build it with it + launch it on your phone and look at the logs

[2017-04-29 09:56] nerzhul commented on #148
i need to know what is the connection state reported by your firewall

[2017-05-02 13:02] harpogit commented on #147
Do you talk about nextcloud/index.php/apps/ocsms/ ?
I got in on LaBrique (YunoHost), but I have only the message "Please choose a conversation on the left menu"
I'm lost.

[2017-05-03 06:09] nerzhul commented on #147
okay, you don't have any message on the left column, nothing is synced

[2017-05-03 07:59] Nibb31 opened #149 "Force close android app"
The app force closes on login using application password.

### Steps to reproduce
1. In nextcloud: Application password > Create a new application password
2. On device: Launch app
3. Add an account. List of account types appears (why?)
4. Select Nextcloud SMS
5. Enter server URL, user and password (as generated in step 1).
6. Click Connect.

### Expected behaviour
App should connect to the server

[2017-05-03 13:32] nerzhul commented on #149
Thanks for reporting through playstore.

here is the related stacktrace (i masked your instance URL)

[code]

[2017-05-03 13:33] nerzhul commented on #149
Oh ! it seems you added a space after FR in original URI  Can that be the cause ?
Please confirm, i also need to catch this specific error

[2017-05-03 13:48] nerzhul commented on #149
Crash is now fixed and proper error will be shown to user

[2017-05-03 13:48] #149 closed

[2017-05-03 13:48] nerzhul commented on #149
I will release 1.0.1 this evening

[2017-05-03 13:50] nerzhul commented on #129
okay then you should handle if possible the "generic" certificate, i cannot make it less secure :(

[2017-05-03 13:50] #128 closed

[2017-05-03 15:14] Nibb31 commented on #149
Hi,
You are correct. I use the Swiftkey keyboard and it seems like it appends a space when it auto-suggests strings. Removing the trailing space fixed it. Thanks for the update !

[2017-05-03 15:16] nerzhul commented on #149
No problem your stacktrace was very useful and permit to solve a blocking :)

[2017-05-04 15:50] harpogit commented on #147
Where should it come from then?
How could I test why it does not synchronize?
Thank you!

[2017-05-04 16:02] nerzhul commented on #147
if app doesn't show messages, you will not see on nextcloud part.

You should provide logcat logs for your app, installing android SDK on your PR or if your phone is rooted you have apps to read them

[2017-05-06 14:32] harpogit commented on #147
I don't have android sdk on my computer. It seems to require space that I don't have. I either don't know how to root my phone with a linux pc.
:-(

[2017-05-06 19:10] nerzhul commented on #147
hmmm it will not be easy to debug then :(

[2017-05-19 20:54] okias commented on #148
Well, running debug git version, no errors :(

[2017-05-19 22:57] okias commented on #148
by longer examination of code: it seems to me, there is no way, to not have connection. When isValid() reports false for few times, it throw up error. But isValid behaviour is fine - I denied all mobile data and kept sync over wifi, so until I connect to WiFi, it's completly fine.

I propose change OCSyncException into Log.e or Log.i .

[2017-05-20 06:11] nerzhul commented on #148
okay

[2017-05-20 06:12] #148 closed

[2017-05-20 19:41] schiessle opened #150 "Don't show sync notification"
I'm using version 1.0.1 from f-droid. First let me say that the app works really great! I have just one small feature request:

It would be great if the user could disable the sync notification. The Notification is great for debugging or maybe for a first run to see that something happens. But in daily use it is really disturbing that this icons appears regularly in the notification area.

[2017-05-21 07:32] nerzhul commented on #150
we can do that, noted :)

[2017-05-22 22:34] Bugsbane commented on #107
PSA: Rather than adding "+1" comments which just clutter up the issue and get in the way of developers trying to sort the issue out, just use the GitHub feature designed to show support for an issue: the reactions button in the top right corner of the original post.

[2017-05-30 15:53] okias commented on #150
Yes, please :)

[2017-05-31 20:30] okias commented on #148
hold a second, issue is still valid. Problem is, it prints message, it should be quiet in these cases.

[2017-06-05 13:50] db260179 opened #151 "SSL protocol issues requires TLSv1"
### Steps to reproduce
1.Turn off TLSv1 on nginx settings
2.Watch nginx error log - set to debug
3. Error 13 occurs, turn TLSv1 back on, connection works again.

### Expected behaviour
TLSv1.1 and 1.2 is considered to be safe, should not be forced to use TLSv1 or older protocols?

### Actual behaviour
SSL handshake refuses to connect

### Server configuration

**NextCloud/ownCloud version:**
8.2

[2017-06-05 13:55] db260179 commented on #151
Android 4.4.4 supports TLSv1.1 and 1.2, this is the only app that needs tls 1.0, the other apps work fine with tlsv1.0 turned off on the nginx instance.

[2017-06-05 16:45] nerzhul commented on #151
it's android choice as we use Android http client to perform all those actions, cannot fix it

[2017-06-06 08:15] db260179 commented on #151
As your code is using httpclient, is there no way to force select the TLS protocols?

[2017-06-06 08:17] nerzhul commented on #151
@db260179 i can look at this but i'm very busy on other projects atm

[2017-06-06 08:20] db260179 commented on #151
Hi Loic,

No worries, this issue was bugging me just wanted to highlight the issue to
you guys.

Thanks

On 6 June 2017 at 09:17, Loïc Blot <notifications@github.com> wrote:

[2017-06-06 08:24] db260179 commented on #129
Possible you have the same issue as me
https://github.com/nerzhul/ownCloud-SMS-App/issues/151

Check what SSL protocols you are using, this app seems to want TLSv1 or older to connect.

[2017-06-06 21:33] nerzhul commented on #151
Okay i find what is the problem it's in our ssl context create we are specifying SSL, i add TLSv1.2 fallback 1.1 fallback 1.0 fallback SSL

[2017-06-06 21:35] nerzhul commented on #151
fixed by ceba0324e1ae92ac4edd2104cb4736d7f8706902

[2017-06-06 21:35] #151 closed

[2017-06-06 21:35] nerzhul commented on #129
fixed by ceba0324e1ae92ac4edd2104cb4736d7f8706902

[2017-06-06 21:35] #129 closed

[2017-06-06 21:50] #150 closed

[2017-06-17 01:53] conrad-heimbold opened #152 "Don't sync one-time password SMS (e.g. from Google)"
The security model behind sending one-time passwords as SMS ("something that you have") assumes, that - once received on a phone - the SMS will **never** leave your phone again (or, at least, not before the OTP gets invalid).
This is not the case, however, with this app...
Hacking into your Nextcloud instance is definitely possible, so hackers could read your OTPs there and gain more access.

Tell

[2017-06-17 06:22] nerzhul commented on #152
it's relatively easy to filter, just change the minimum phone number characters required to sync, generally those messages are sent with tiny numbers

[2017-06-25 10:14] Etua commented on #146
@nerzhul I experience the same problem. I'm pretty sure that my sms traffic is smaller than few hundred (300?) messages per month, but the load can be even bigger than 1,3 GB.

[2017-06-29 12:44] freeeflyer opened #153 "Does not synchronize"
### Steps to reproduce
1. Try to synchronize or wait for synchronization
2.
3.
### Notice
I have a LOT of SMSes

### Expected behaviour
All SMSes are synchronized and visible to webapp

### Actual behaviour
Not all SMSes are present on the web app

### Server configuration

**Nextcloud version: 12

**PHP version:7.0 (7.0.20-2~ubuntu14.04.1+deb.sury.org+1)

**Webserver: (Apache 2.4.7-1ubuntu4.16)

[2017-07-15 10:05] #152 closed

[2017-08-16 14:02] Rpnpif opened #156 "[Wishlist] Request the compatibility with Owncloud 10"
After installing in /apps, Owncloud says that the 9.2 release or lower of owcloud is required and that, dependences are missing.

Please migrate ocsms to owncloud 10 with a valid signature of the code for this release of owncloud.

Regards.

[2017-08-16 15:41] nerzhul commented on #156
hello, you are on the wrong repository, please go to https://github.com/nextcloud/ocsms and open the issue there

[2017-08-16 15:41] #156 closed

[2017-08-17 12:40] fulljackz commented on #107
Hi there,

It would be an awesome feature if Silence is supported by sms sync for nextcloud.

How could I contribute to test and make it happen (with my poor dev knowledge) ? Anyway, good luck for them who are working on !

[2017-08-29 03:34] dh-connect commented on #153
get the same error with nextcloud 12.0.2
Invalid argument supplied for foreach() at /data/ownclouddata/www/owncloud/apps/ocsms/db/smsmapper.php#264
Invalid argument supplied for foreach() at /data/ownclouddata/www/owncloud/apps/ocsms/controller/apicontroller.php#112

[2017-08-29 05:55] nerzhul commented on #153
@dh-connect your errors seems related to the \n issue due to json generation changes for performance in 1.2, here it's 1.1, the problem should be different

[2017-08-29 11:38] dh-connect commented on #153
here's what I tried:

I turned the json body scanner in modsecurity off, (SecRequestBodyAccess Off in modsecurity.conf): which removed the json error in apache error.log, sync still didn't work

I turned off modsecurity completely, sync still didn't work

I restored all messages on the phone with the android app (> 6000 messages); which worked great

I removed nc sms app from nextcloud, deleted th

[2017-08-29 11:50] nerzhul commented on #153
@dh-connect it's sufficient for me, i need to verify the current json serializer in C++

[2017-09-10 11:30] harpogit commented on #131
Hello, Nerzhul,
I finally have a synchro between my nextcloud server on La Brique and an android 6;01 Samsung, but I only get one message ! The last one. How could I sync the older one?
The resetting synchronization cursor process seems not to change anything.

Thank you !

[2017-09-11 06:17] nerzhul commented on #131
@harpogit i should re-verify it should not be the case

[2017-09-11 20:02] nerzhul commented on #131
Hello, thanks for your reports, i took some time to look at this and the full sync + reset cursor problem was (in major part) to wrong sms ordering when reading from sms database.

I'm publishing 1.2.3 to play store now, i tested it on my phone and it seems some missed old messages appears when re-doing a full sync with cursor reset.

Fixed by 3edd898d7dff73c32ad6dfbafed70e84134e4f56

[2017-09-11 20:02] #131 closed

[2017-09-11 20:16] nerzhul commented on #153
okay all should be fixed now, there were some problems with full sync model

[2017-09-11 20:17] #147 closed

[2017-09-11 20:17] nerzhul commented on #147
seems fixed now, as we talked in another issue

[2017-09-11 21:17] dh-connect commented on #153
I tried it with the new app version 1.2.3, I tried to sync and it crashed after a few records, found 45 sms in table smsdata, now the app crashes each time when it tries to sync

[2017-09-11 21:18] nerzhul commented on #153
strange, i have synced 6500 sms without problem... can you provide me logcat logs ?

[2017-09-11 21:42] dh-connect commented on #153
[Log_2017-9-11_17-34-30.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/1294158/Log_2017-9-11_17-34-30.txt)

here's the log

[2017-09-11 21:44] nerzhul commented on #153
Thanks, i see the problem, i will fix it asap it's caused by latest commit

[2017-09-12 08:47] harpogit commented on #131
Super!
Thanks a lot ! I wish I could actually use it !
Just waiting until I find the update on FDroid.
;-)

[2017-09-12 10:48] dh-connect commented on #153
I tried it with version 1.2.4, app doesn't crash anymore and says sync complete after a while, but not a single sms in nexcloud app, smsdata table is empty, no error in apache log, nextcloud log:

Invalid argument supplied for foreach() at /data/ownclouddata/www/owncloud/apps/ocsms/db/smsmapper.php#264 |
Error | PHP | Invalid argument supplied for foreach() at /data/ownclouddata/www/owncloud/apps/

[2017-09-12 11:39] nerzhul commented on #153
it's very strange, are you able to dump the unencrypted HTTP communication ?

[2017-09-12 11:54] dh-connect commented on #153
no I blocked http on my server, i feel like the phone app is memorizing the last sync date somewhere, because now it says nothing to sync, although not a single sms has reached the server, where do you store the info?, i tried to clear app and cache data, still doesn't work

[2017-09-12 12:04] nerzhul commented on #153
you can reset cursor if you go (in app) to your account list, select your account and select reset sync cursor, it will resync all

[2017-09-12 12:06] dh-connect commented on #153
tried that too, doesn't work, then I get the sync completed and nothing was transfered

[2017-09-12 12:13] dh-connect commented on #153
here's the log

[Log_2017-9-12_08-08-43.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/1295866/Log_2017-9-12_08-08-43.txt)

[2017-09-12 14:13] nerzhul commented on #153
It seems your phone do a single huge sync request, can you reduce the loop size in the app settings to a more little value ?

[2017-09-12 15:18] dh-connect commented on #153
yes this worked better, 4162 messages are in the database now, but I have more than 6000 messages on my phone, I noticed in the sms table that the id counted over 6000 but there are id's missing in between, it seems to me that the app has skipped messages during sync, taking the last id as the max minus the number of all records in the table: 2114 sms are still missing, any idea how to enforce a s

[2017-09-13 11:44] dh-connect commented on #153
Is there a way to find out why it's not syncing all messages, I have a copy of the old table, the missing sms are all in inbox, that's all I can tell

[2017-09-13 11:48] nerzhul commented on #153
it's nice to see reducing the cursor size permits to push correctly data, i think your server has a body limit it's why it was not synced. You can retry to reset cursor and relaunch a sync, but it's possible you have 2114 MMS and not SMS, and MMS are not synced atm as it's a little difficult to handle them properly

[2017-09-13 11:57] dh-connect commented on #153
no these are all SMS, they were synced before, limit size should be big enough (LimitRequestBody 2147483647), I reset the cursor several times, the number of synced messages remains the same, couldn't find something in logcat that looks like an error, any more ideas?

[2017-09-13 11:59] nerzhul commented on #153
do you have regular android app for your SMS or a specific app ?

[2017-09-13 12:00] dh-connect commented on #153
regular android app, is there a debug mode for your app which writes out a more detailed log?

[2017-09-13 12:12] nerzhul commented on #153
with logcat in verbose mode on app you have all, the message count shown is message number read from SMS database using regular Android API requests without specific filtering, maybe you have some SMS in non standard box ? can you find an app which browse the sms database easily to understand the problem ?

Another problem can be encoding problem server side are you using MySQL/MariaDB or pgsql ?

[2017-09-13 14:12] dh-connect commented on #153
I'm using MySQL and changed the encoding to UTF8 4 byte, when the app is counting the number of messages in logcat it shows them all, by the way I restored all the messages from the cloud with your app to the phone, deleted the oc sms tables, reinstalled the nextcloud app and when I tried to sync them back to the cloud it transferred not all of them, which means these messages were transferred bef

[2017-09-13 14:21] nerzhul commented on #153
the sync process generate a json object with a sms object list and send the bulk object to server. Server looks at the object, and if json is valid insert deserialized objects into database if they are not into database

[2017-09-13 14:33] dh-connect commented on #153
so the problem could be on the server, not inserting all sms from the json object, can we get more details from this process?

[2017-09-13 14:35] nerzhul commented on #153
for me, it's not some in the json object but one json object is refused sometimes by your server. php logs can help

[2017-09-13 14:53] dh-connect commented on #153
ok I will check what I can find on the server

[2017-09-13 15:13] tarpin opened #158 "Support for dual-SIM phones (selecting SIM)"
I would ask for a function to select which SIM card to be synchronized SMS on dual-SIM phones.

This would be useful if we have a private and business number and we want to synchronize only the SMS sent from the business number.

[2017-09-13 18:48] harpogit commented on #131
...I just upgrade Nextcloud on my Brique, then I lost the only miraculous sms I got last time !
It's a real thrill, isn'it?
;-)

[2017-09-13 20:40] nerzhul commented on #158
hello @tarpin your idea is interesting, but app cannot know from which sim it comes. The only thing we can do is add a filter on the phone number

[2017-09-14 00:57] dh-connect commented on #153
for some reason some of the packages are no arrays
I inserted this test in checkPushStructure / apicontroller.php

if (is_array($smsDatas) || is_object($smsDatas))
                { ...  }
        else {
                $this->errorMsg = "Error: No SMS data array";
                return false;
             }
I get this error in a few cases
Where is smsDatas generated? Maybe I find out what happen

[2017-09-14 01:19] dh-connect commented on #153
here's the log

[Log_2017-9-13_21-17-13.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/1301416/Log_2017-9-13_21-17-13.txt)

[2017-09-14 06:05] nerzhul commented on #153
good job, can you add the test in ocsms app code https://github.com/nextcloud/ocsms it's important to have a such feedback.
smsDatas is generated by nextcloud itself, and if it's empty it's due to a problem in the query, but it's difficult to track it without dumping

[2017-09-14 11:16] dh-connect commented on #153
I used your new code, now I get the Error: smsCount field is NULL on my phone

[2017-09-19 22:53] tarpin commented on #158
It would be great, thanks.

[2017-09-20 08:51] harpogit opened #159 "Crash when trying to synchronize"
### Steps to reproduce
1. Clic on "Synchroniser maintenant"
2
3.

### Expected behaviour
Tell us what should happen
Synchronization should goes on !
### Actual behaviour
Tell us what happens instead
Pop  up : "Nextcloud SMS s'est arrếté". nothing else.
I just got a few discussions synchronized, once after reseting the index and make a restaure option. I tryied to change the parameters whithout pos

[2017-09-20 21:28] nerzhul commented on #159
can i get logcat logs instead of server logs ? crash will be notified on client

[2017-10-03 21:24] moutonjr commented on #151
@nerzhul : Still getting the very same problem on 1.2.4 (commercial version), trying to access my Nextcloud server.

My server is behind a reverse proxy that exposes wildcard certificate signed by my own CA (which has been downloaded in Android userland cert store).

The scheme is foundable as follows : `openssl s_client -host jfile.jserv.fr -port 443`

Can you repoen this issue for tag 1.4.2 ?

[2017-10-05 06:18] nerzhul commented on #151
hi @moutonjr it's not the same issue, here it was a SSL selection problem, yours is a trusted anchor issue, can you open another issue for it, please ?

[2017-10-05 07:46] moutonjr commented on #151
@nerzhul : my bad, it's more like a feature request for handling untrusted certificates or CAs. I fixed it by adding an X509 version with "basicConstraints: CA:TRUE" on the CA itself.

[2017-10-22 09:15] shtrom opened #161 "“Error #16: No data connection available” notification when data connection of the wrong type available"
When a data connection that has not been chosen in the General settings is present, a notification stating “Error #16: No data connection available” keeps being posted. This is noisy and incorrect, as a data connection is available, but not of a desired type, which is therefore ignored. The notification is not posted when no data connection (at all) is available.

It would make more sense to simpl

[2017-11-07 03:35] gradinaruvasile opened #162 "Since version 1.3.0 from FDROID the app cannot connect to the server."
Since version 1.3.0 from FDROID the app cannot connect to the server.
Tried removing, reinstalling the app. Version 1.2.5 works fine.

When i insert the connection data, the client gives an error about not being able to perform a HTTP connection and on the server i have these in the logs:

Exception: The requested uri(/nextcloud/index.php/apps/ocsms/get/apiversion) cannot be processed by the scrip

[2017-11-08 22:11] nerzhul commented on #162
Thanks for your report, i'm looking for this asap i noticed same problem on the autosync not in manual sync, can you confirm manual sync doesn't have problem on your phones ?

[2017-11-08 22:14] ejstacey commented on #162
Manual sync (I reinit sync cursor so it has something to try and sync) does not do it for me.  It does seem to be only the auto sync.

[2017-11-08 22:15] nerzhul commented on #162
okay i'm looking for this. 1.3 implemented refactor on the http client to use android native one but it seems something has been missed in auto sync

[2017-11-08 22:17] nerzhul commented on #162
Okay here is the app logs

[code]

[2017-11-08 22:35] nerzhul commented on #162
Strangely in this request POST data is empty

[2017-11-08 22:45] nerzhul commented on #162
Fixed

[2017-11-08 22:45] #162 closed

[2017-11-12 05:21] mlyszczek opened #163 "couldn't establish http connection, make sure http server is there"
### Steps to reproduce
1. Add account and log in into nextcloud server

### Expected behaviour
Logging in should succed

### Actual behaviour
logging in ends with error "couldn't establish http connection, make sure http server is there". This error occurs both for HTTP and HTTPS

### Server configuration

**Nextcloud version:**
12.0.3

**PHP version:**
7.0.25

**Webserver:**
nginx 1.12.1

**HTTPS

[2017-11-12 18:38] sercasbh commented on #163
Also here.
Same issue

[2017-11-13 07:59] DJaeger commented on #163
I have the same issue.
The workaround is working for me

[2017-11-13 10:54] Pascaloub commented on #163
Same issue here

nextcloud SMS 1.3.1 installed from Google Play repository
android 6.0
apache 2.4
SSL cert with commercial CA install (tested and work without any warning on any web browser)

[2017-11-13 21:45] nerzhul commented on #161
This error is not present anymore

[2017-11-13 21:45] #161 closed

[2017-11-14 00:12] runout-at commented on #163
same here

[2017-11-14 10:02] fyah commented on #153
Hello,

I guess I have the same issue.
From the logs on the nexcloud side, I can see:

{"reqId":"lZBilGEB5KcuJb4V1N4A","level":3,"time":"2017-11-14T09:59:43+00:00","remoteAddr":"127.0.0.1","user":"xxxx","app":"PHP","method":"POST","url":"\/index.php\/apps\/ocsms\/push?format=json","message":"Invalid argument supplied for foreach() at \/volume1\/web\/owncloud\/apps\/ocsms\/controller\/apicontroller

[2017-11-15 09:33] nerzhul commented on #163
Hello,
thanks for your report.
This issue was solved in 1.3.2 released yesterday, the new HTTP native Android client has one bug in a specific code path which has been fixed

[2017-11-15 09:33] #163 closed

[2017-11-15 09:33] nerzhul commented on #159
ping

[2017-11-15 09:41] nerzhul commented on #153
@fyah this bug is server side and should be fixed but currently it's hard to find where does it comes from as it's related to HTTP request routing in nextcloud

[2017-11-15 13:17] fyah commented on #153
ok thanks
So I'll disable sync for now, waiting for sms apps or nextcould update on the server side to retry

[2017-11-15 16:27] nerzhul commented on #153
the periodic sync is not very important, on receive sync is generally used, and network switching sync too

[2017-11-16 08:12] fyah commented on #153
I have all this enabled and still can't see my new sms being received on the server...
![screenshot_20171116-091122](https://user-images.githubusercontent.com/2546966/32880522-442d6742-caae-11e7-870a-6f9826388c4d.jpg)

[2017-11-16 10:48] sercasbh commented on #163
When will be 1.3.2 on f-droid?
Thank you for your work.
Bye

[2017-11-16 10:56] Pascaloub commented on #163
update 1.3.2 from google play done.

Problem remain exactly the same.

[2017-11-16 11:06] nerzhul commented on #163
Please don't ask me for f-droid i don't manage it

[2017-11-17 10:01] harpogit commented on #159
Salut dit Nerzhul !
Sorry not to give some news of my trouble !
I've got some synchro from the 17/09/17 to the 6/11/17 without knowing why it is now in Error 13 and why I can't synchronize (backup) before the 17/09.
I don't know how to root my Samsung 5 for the moment, so I can't give you any log to help understanding the way it goes.
;-)
Thanks !

[2017-11-18 22:46] Myppomeu opened #164 "Unable to add account throught IP without domain name"
### Steps to reproduce
1. Install 1.3.x branch
2. Try to add acount throught IP without domain name

### Expected behaviour
Added account.

### Actual behaviour
Nextcloud SMS returns an error telling that it cannot establish HTTP connection.
There is no such error in Nextcloud SMS 1.2.5

### Server configuration

**Nextcloud version:** 12.0.3

**PHP version:** 5.6.30+dfsg-0+deb8u1

**Webserver:**

[2017-11-18 22:54] Myppomeu opened #165 "Unable to restore SMS"
### Steps to reproduce
1. Install 1.3.x branch
2. Try to restore messages

### Expected behaviour
Restored messages.

### Actual behaviour
Nextcloud SMS asks permissions, display button "Restore SMS", and after I press on it nothing happens.
There is no such error in Nextcloud SMS 1.2.5

### Server configuration

**Nextcloud version:** 12.0.3

**PHP version:** 5.6.30+dfsg-0+deb8u1

**Webserver:**

[2017-11-18 23:02] Myppomeu opened #166 "Ignoring sync interfaces settings"
### Steps to reproduce
1. Install Nextcloud SMS
2. Set only Wi-Fi sync
3. Turn Wi-fi off

### Expected behaviour
Expected that app would sync only over Wi-Fi.

### Actual behaviour
Nextcloud SMS ignores settings, try to sync over 4G, cannot find server (my server is local only) and displays error about it.

### Server configuration

**Nextcloud version:** 12.0.3

**PHP version:** 5.6.30+dfsg-0+deb

[2017-11-20 10:17] nerzhul commented on #164
Hello
it's fixed in 1.3.2 branch, the /api/version call is broken is 1.3.0 and 1.3.1.

Thanks for your report

[2017-11-20 10:17] #164 closed

[2017-11-20 10:18] nerzhul commented on #165
related to #164

[2017-11-20 10:18] #165 closed

[2017-11-21 14:26] adi2k5 opened #168 "Nextcloud SMS 1.3.0+ breaks login / sync sms to nextcloud"
### Steps to reproduce
1. Upgrade nextcloud SMs to 1.3.0 / 1.3.1
2. Try to sync sms, or
3. Try to create new account for nextcloud SMS (if there was none or it's been removed)

### Expected behaviour
Sync SMS / create an account and sync

### Actual behaviour
When trying to sync sms when account was present in app before upgrade to 1.3.0, app throws error '# 13 authorization error' or something si

[2017-11-24 15:37] nerzhul commented on #168
Use 1.3.2 version

[2017-11-24 15:37] #168 closed

[2017-11-29 01:07] AnalogGodOfBandwidth opened #169 "Unable to login when using tls 1.1+"
### Steps to reproduce
1. Use docker container
2. Use Nginx as a proxy
3. Setup TLS and only allow 1.1 and 1.2

### Expected behaviour
I should be able to create a sync account

### Actual behaviour
Unable to preform a HTTP connection
{lease ensure there is a web server

### Server configuration

**Nextcloud version:**

**PHP version:**
7.1.12
**Webserver:**
12.0.3
**HTTPS:**
Yes

Nginx
[code]

##

[2017-11-29 03:25] AnalogGodOfBandwidth commented on #169
It looks like there was an update available that fixed this. Sorry

[2017-11-29 03:25] #169 closed

[2017-11-29 15:08] nerzhul commented on #169
thanks for your test report and close :)

[2017-12-01 19:38] nerzhul commented on #153
can you reduce bulk size from 2000 to 500 or lesser, sometimes the json message is very high

[2017-12-01 21:28] jookk commented on #153
on xiaomi says (there is nothing to sync). using Xiaomi sms app

[2017-12-01 21:35] nerzhul commented on #153
@jookk reset cursor in app account settings and launch a full sync

[2017-12-03 18:23] OrpheeGT commented on #153
Hello,
I have a similar issue...

Received SMS doesn't sync... when I manual sync "nothing to synchronize".
I reset cursor and sync works, but I must do it each time...

I have quite often sync issues in the notification bar when sync timing is enabled...

When I receive a SMS I can see the icon in the notification bar...

I can see the connexion in apache log :

`xx.xxx.xxx.xxx - Orphee [03/Dec/2

[2017-12-06 08:57] nicolass67 commented on #153
Hello,

I have the same issue with this configuration :
Server : Debian stretch + nginx + php7.0-fpm (all rest of nextcloud working)
Client : nextcloud SMS 1.3.2 official (buyed, NOT f-droid)

I made a http trace attached (file testnc.txt)
[testnc.txt](https://github.com/nerzhul/ownCloud-SMS-App/files/1534424/testnc.txt)

In the nexcloud logs : Invalid argument supplied for foreach at ... smsmappe

[2017-12-06 09:31] nicolass67 commented on #153
In fact I added this 2 lines where the errors happen :
controller/apicontroller.php : 112 :
error_log(is_array($smsDatas) ? 'smsDatas array ' : 'smsDatas not array' );
Quite same in db/smsmapper.php : 264 :
error_log(is_array($smsList) ? 'smsList array ' : 'smsList not array' );

Result in php logs :
[06-Dec-2017 09:25:13 UTC] smsDatas not array
[06-Dec-2017 09:25:13 UTC] smsList not array

So for

[2017-12-06 09:38] nerzhul commented on #153
@nicolass67 can you use the following function ?

http://php.net/manual/fr/function.gettype.php

[2017-12-06 09:59] nicolass67 commented on #153
Added this on both code blocks  :
error_log('smsDatas is : ');
error_log(gettype($smsDatas));

=>
[06-Dec-2017 09:55:53 UTC] smsdatas not an array
[06-Dec-2017 09:55:53 UTC] smsDatas is :
[06-Dec-2017 09:55:53 UTC] NULL
[06-Dec-2017 09:55:53 UTC] smsList not an array
[06-Dec-2017 09:55:53 UTC] smsList is:
[06-Dec-2017 09:55:53 UTC] NULL

[2017-12-06 10:00] nerzhul commented on #153
NULL means the routing engine in nextcloud failed to deserialize the JSON, it's the problem, we need to understand where is the json deserialization problem to fix definitively this :(

[2017-12-06 10:05] nicolass67 commented on #153
Could we "dump" the received JSON at the nextcloud level, then at the entrance of ocsms ?
In the HTTP trace provided in my first post, it seems the json is quite OK (maybe you got tools to verify that).

[2017-12-06 10:10] nerzhul commented on #153
if you have server access and no SSL you can use tcpdump command

[2017-12-06 10:12] nicolass67 commented on #153
It's with a tcpdump (anf httpparse) I produced the attached file testnc.txt :D

[2017-12-06 11:05] nerzhul commented on #153
it sounds good, except the date which seems very strange.
You never see all those messages in the database ?

[2017-12-06 11:53] nicolass67 commented on #153
No when i dump the DB i can't find any related sms'es data. It fails before.

[2017-12-06 12:59] nicolass67 commented on #153
I just saw there was a 12.0.4 version in stable branch of nextcloud. I made the update, problem stays alive. I already tried to go to beta 13.0 but ocms sin't yet compatible.

[2017-12-06 15:44] hackitz commented on #163
i have tried a few different versions of owncloud-sms and still get the error
"couldn't establish http connection, make sure http server is there".
The error occurs both for HTTP and HTTPS
i have the latest stable version on nextcloud and am running android 8.0 on my phone.

[2017-12-07 07:22] nerzhul commented on #163
i published 1.3.4 which fix an anoying timeout problem regression when talking to server on periodic synchronization. Tell me if it's okay for you

[2017-12-07 07:24] nerzhul commented on #153
ocsms app is relatively standalone in nextcloud, except it has to use nextcloud router & db interfaces. I think the problem is one message blocking the sync. Maybe you can try to take the HTTP stream and split it in multiple parts to find which part cause problem by replaying parts on your server. The json is relatively simple, smsCount + smsDatas (yeah typo) array of sms objects

[2017-12-07 09:14] prilly opened #170 "App will not connect to server when adding account"
i have some issues with nextcloud sms, after trying the function reset pointer in the app, sync started to have issues with connecting to my server. i then tried to remove the account on my app and readd it, this is where the problem is, when readding the account i get a error message that the http:// server address is not reachable, i noticed that the error message says http:// is used eventhoug

[2017-12-07 10:15] nerzhul commented on #170
Can you provide screen shots and android app version ?

[2017-12-07 12:35] nicolass67 commented on #153
If you look at the HTTP trace , the exchange concerns 2 SMS it's simply the same sent to myself.
The first :

[code]
The data of the SMS is "Blabla" I dont think any of those characters are bad.
The second :
[code]
Is it normal that the phone number is in a different form '+336xxxxx instead of 06' ?
Is it possible to make nextcloud SMS compatible with nextcloud 13 maybe the routing engine is diffr

[2017-12-07 12:46] nerzhul commented on #153
no problem it's quite sufficient. The phone number is number reported by android itself without any alteration. Both sounds good.
I noted a huge refresh problem in the web application when doing my test (app is quite old and require some refactor/performance enhancements), did you check you have messages in database ?

Note: you have mbox = 3 which is an invalid mailbox. Do you use standard androi

[2017-12-07 14:29] nicolass67 commented on #153
Nothing in database :
[code]
Same with a mysql DB

Note : I know for the mailbox id (we already discussed of it in mail :) ) My app  is SMS/MMS : 5.1.1-2237560 on Nexus 4 Android 5.1.1

[2017-12-07 15:23] hackitz commented on #163
i have the latest version of nextcloud sms. i still get the error
unable to perform a http connection, please ensure there is a web server.

[2017-12-07 15:24] hackitz commented on #163
just tried with http not https and the http gives the same error.

[2017-12-07 16:09] lenucksi opened #171 "Enable whitelist for networks to sync in."
This app should allow to only attempt to sync when inside a given list of networks. This would be very useful when the configured Nextcloud instance is not reachable from the public internet but only within  a given network.
### Steps to reproduce
1. Configure app to sync to an account whose server is only reachable from a specific network
2. Attempt to sync outside of said network
3. Repeated err

[2017-12-07 16:10] lenucksi opened #172 "Enable acceptance of specific self-signed certificates"
It would be nice to if I'd be prompted to accept a self-signed certificate by fingerprint instead of giving a generic error message that the connection was not possible.

[2017-12-08 13:05] nerzhul commented on #172
Yeah it's an idea i get since a long time but i don't get time to do this atm and how to properly implement this. I'm just sure it's mandantory to have last HTTP code bug fixes

[2017-12-08 13:06] nerzhul commented on #171
Currently you can filter by connection type. It's not easy to implement SSID filtering

[2017-12-08 13:07] nerzhul commented on #153
I should look at mailbox id = 3 on the server part which can be refused, either on client or on server

[2017-12-08 13:34] hackitz commented on #163
where are the logs located?

[2017-12-08 14:13] nerzhul commented on #163
@hackitz use "adb logcat" with android platform tools installed

[2017-12-08 20:08] nicolass67 commented on #153
@nerzhul : yes maybe, but it seems other users have the problem , not sure the sms they send are all mailbox id= 3.

I did this test too :

- create a test.json file containing :
[code]
(Of course i put a valid phone numer).

- I send it :
[code]
That is the normal failing situation.

- Now change the JSON to put a mailbox id = 0 (like received SMSes)
Same curl => same result, same error in nexclo

[2017-12-10 12:39] prilly commented on #170
Iam sorry m8, its not possible to upload screenshots from mobile to github, so no images for you.

Anyway the problem persist, iam going to dump databse regarding to ocsms and try if the problem might be server related. But i doubt it as its connecttion issues

[2017-12-10 12:58] prilly commented on #170
![screenshot_2017-12-10-13-35-16](https://user-images.githubusercontent.com/1522162/33805052-398f7dc2-ddb2-11e7-8a43-096854038350.png)
![screenshot_2017-12-10-13-35-49](https://user-images.githubusercontent.com/1522162/33805053-39b25a0e-ddb2-11e7-92cf-5a8197a807c9.png)

[2017-12-10 18:58] OrpheeGT commented on #153
Could you please tell why mbox 3 is an invalid mbox ?

I'm on mysql database, and I have sms_mailbox with value 3 for a lot of messages...

Should I wipe the database ?

[2017-12-10 19:46] prilly commented on #170
Any progress?

[2017-12-10 19:50] OrpheeGT commented on #153
I wiped the database, made a reset and a synchro.
No sms_mailbox = 3 so it seemed to be good
I sent myself a SMS, not shown in nextcloud web interface.
In the database I see it, but in sms_mailbox = 3...

[2017-12-10 23:27] roydenyates commented on #170
Can confirm CM13 (Android 6.0.1)
app  ver 1.3.3.

I had it working and updated via f-Droid then saw notifications that the connection failed. However, if I opened app and manually synced there was no error. Yet the error notices persisted. Deleted account and here we are :-), no way back in.

[2017-12-13 13:17] nerzhul commented on #170
it's a difficult issue to track in the new and mandatory HTTP client i need time to track this, it seems nobody has java/android skills to help fixing it :(

[2017-12-13 13:19] nerzhul commented on #170
Also another fix has been pushed in 1.3.4 please re-test with it

[2017-12-14 20:06] nicolass67 commented on #153
Hello,
It seems another topic talks about it : https://help.nextcloud.com/t/phonesync-app-ocsms-no-sync-then-no-connection-http-405/23301/2 => here problem happens in client 1.3.0

And a remark it seems that the problem appeared recently. As far As remember I could synchronize with nextcloud 12.0.3 (ocsms 1.12.1 ) until 13 november . I do my updates on the phone immediatly so the bug was probably

[2017-12-14 20:38] OrpheeGT commented on #153
I uninstalled the latest 1.3.3 version and installed the old 1.2.5 SMS app version.
Same happens in the MySQL DB, sms_mailbox = 3 ... It seems to be a server side issue... I may be wrong but if I remember well, it was working before with this 1.2.5 version...

[2017-12-16 08:39] mourningsun75 commented on #170
For me it is fixed

[2017-12-16 09:33] nerzhul commented on #170
@mourningsun75 nice to hear

[2017-12-17 00:11] roydenyates commented on #170
Confirmed - fixed in 1.3.4.

On 16 December 2017 at 10:33, Loïc Blot <notifications@github.com> wrote:

--
Royden Yates
Göteborg
Sweden

[2017-12-20 04:05] schiessle opened #175 "Don't show notification on failed sync"
For me it happens regularly that a sync fails because of bad network connection. In this case I always get a notification on my phone. This information is useless and disturbing, I can' t do anything, but only hope that the next time the app tries to sync the connection is better and it will work. Therefore I think it would be good if the app wouldn't show any notification but just try again.

The

[2017-12-24 10:25] nicolass67 commented on #153
Hello,

I updtaed the android Nextcloud SMS offical to 1.3.4. problem still seems present.

Regards, and merry Xmas !

[2017-12-24 23:48] s13m11t7 commented on #172
I have just bought the app and cannot connect because of a self-signed certificate as well... Can't get a refund either.... The lack of support for a self-signed certificate needs to be clearly stated on the app page so we know not to buy and download it....

[2017-12-28 15:26] nerzhul commented on #170
@prilly can you confirm ?

[2018-01-03 09:25] whodafly commented on #65
Any updates on this? I'm running into this issue as well, and I'd really like to be able to back up my SMS messages.

[2018-01-03 19:29] schiessle commented on #153
I also have the problem that SMS are not synced. Like some of the other people here I use the f-droid version on a google free phone, not sure if this might be a issue.

I don't see the error messages described by the other people. What i found interesting is that by looking at the Apache access log I see that the android app connects regularly to the server, but I see always only this two GET req

[2018-01-04 10:07] barti commented on #170
Hi, even when using 1.3.4 I can still see the same issue: when trying to connect to **https** server and connection fails, the error message says that the *http://* server address is not reachable. I guess, in my case connection error is related to self signed certificate feature request [172](https://github.com/nerzhul/ownCloud-SMS-App/issues/172).
Anyway, the error with hard-coded "http" as a st

[2018-01-04 10:09] nerzhul commented on #170
@barti exact i should fix the two issues. Sorry for the delay but i'm alone and there are rare PR on the app, and i'm working on many OSS projects :)

[2018-01-11 14:32] nicolass67 commented on #153
Hello,

Just an update on this bug.
My android client is still  : 1.3.4
I upgraded Nextcloud to 12.0.5 RC1

Problem is still present.
I put the nextcloud in debug level in my config.php :
`'log_level => 0,
'debug' => true,
'log_query' => true,
`
When the client make a request I can see some POST. But it seems it doesnt inset the SMS in the database
`sqlite3 owncloud.db .dump | grep -i ocsms ` => d

[2018-01-15 08:29] JeromeSi commented on #170
Hi,
I've got the same problem in version 1.3.2, 1.3.3, 1.3.4.
With Android Studio, I make the apk with version 1.2.4 and this version work fine.
I've got  lineageOS 14.1 (on a Moto G 4G, peregrine, android 7.1.2) with a nextcloud 11.0.6 and ocsms 1.11.4.
Thanks for the app.

[2018-01-16 16:29] JunkyardCat opened #176 "Problem creating an account nextcloud sms"
Hi

I need help on how to setup an account. I have nextcloud on my raspberry pi only available locally
when logging into nextcloud i usually type in ip address 192.XXX.X.XXX. im able to synch this with davdroid and nextcloud app fine but not sure why nextcloud sms app is having trouble.

### Steps to reproduce
1. open nextcloud sms
2. click on add an account
3. choose nextcloud sms
4. type in 192.

[2018-01-17 23:26] nerzhul commented on #176
did you install ocsms server app ?

[2018-01-18 03:39] JunkyardCat commented on #176
I install phone sync app on the nextcloud server. Is that the same as what you said or is ocsms server app a different app?

[2018-01-25 14:37] JunkyardCat commented on #176
anyone know why this is happening

[2018-01-28 20:07] dthrash opened #177 "Feature Request: Send SMS"
Does anyone have an idea regarding the scope and requirements of implementing SMS sending within this app? I think this would be a great platform to develop this on. But a lot of experience would be required implementing SIP/sms gateways. I would like to contribute, but I don't really know where to start.

[2018-01-29 15:06] JunkyardCat commented on #176
@nerzhul I install phone sync app on the nextcloud server. Is that the same as what you said or is ocsms server app a different app?

[2018-01-29 15:09] nerzhul commented on #176
it's ocsms app

[2018-01-29 16:52] JunkyardCat commented on #176
@nerzhul in nextcloud its name is Phone Sync. I followed this link which is found on the nextcloud ocsms page in github
https://github.com/nextcloud/ocsms

then i click on the link below which directs me to the nextcloud app which has the name phone sync
https://apps.nextcloud.com/apps/ocsms

[2018-01-30 12:09] al-ign opened #178 "Password change for configured account?"
### Steps to reproduce
1. Change password for account in NextCloud instance
2. Search for a way to change password in App
3. ...
4. No profit.

### Expected behaviour
Changed password to configured account, so NC will not kick in brute-force blocking

### Actual behaviour
No way to change password in application, app uses old password, brute-force protection of NC kicks in and blocks reverse proxy

[2018-01-30 20:31] nerzhul commented on #178
exact, it's a critical bug i didn't realize

[2018-02-10 03:16] chainsawbike commented on #153
could it be related to this apache bug?

https://bz.apache.org/bugzilla/show_bug.cgi?id=53332

[2018-02-10 09:07] nerzhul commented on #153
@chainsawbike sounds to be an idea but some users don't use apache httpd

[2018-02-10 14:17] nicolass67 commented on #153
@chainsawbike : I had same problem but using nginx.
The problem is solved in this thread : [issue#217](https://github.com/nextcloud/ocsms/issues/217)
You need to comment the fastcgi_request_buffering off; that is in the nextcloud doc.

[2018-02-10 14:57] nerzhul commented on #153
@nicolass67 i add the notice to the readme, thanks

[2018-02-10 14:57] #153 closed

[2018-02-10 20:02] chainsawbike commented on #153
if i understand correctly it is essentially the same issue with ngnix or Apache working with php-fpm

niginx has a work around by setting the request buffering to on allowing nginx to set the content-length header before passing over the fcgi protocol

apache does not do this, but there is an old patch

php-fpm does not believe it is their problem as they are following the fcgi spec ( https://bugs

[2018-02-11 09:22] nicolass67 commented on #153
@chainsawbike :
I tried these configuration :

- nginx + php-fpm (no modification with doc of owncloud) -> fail

- nginx proxy to  apache + mod_php -> OK

- apache + mod_php -> OK

- apache + php-fpm -> fail

So for nginx the workaround is the modifcation of the `proxy_request_buffering` setting
For apache + php-fpm maybe there is a similar option in apache.

[2018-02-11 21:53] chainsawbike commented on #153
Is the app setting the content length header? If not to me it seams the most robust solution to solve this issue as it should work regardless of the quirks of the specific web server and php implementation

I cannot find a way too get apache to add the header before passing to php-fpm other than the patch in this ( old ) apache bug: https://bz.apache.org/bugzilla/show_bug.cgi?id=53332

[2018-02-11 22:23] nerzhul commented on #153
@chainsawbike it was the Android HTTP client, it should do it. Anyway version 2.0 used golang HTTP client which should solve those issues and also use HTTP/2.0

[2018-02-12 17:54] JeromeSi opened #181 "Error "UNK" whan adding an account"
### Steps to reproduce
1.write URL / Login / Password
2.click Sign in
3.error "UNK"

### Expected behaviour
I can't connect the 2.0.1 with my nextcoud
Nextcloud SMS 1.2.4 work fine

### Actual behaviour
I have the message error "UNK" when i try to add an account

### Server configuration

**Nextcloud version:** 11.0.6

**PHP version:** 5.6.33

**Webserver:** apache2

**HTTPS:** 2.4.10

### Client

[2018-02-12 20:45] nerzhul commented on #181
@JeromeSi interesting error, at least you give me the golang error it's fine

[2018-02-12 20:48] nerzhul commented on #181
It seems it can be due to your local certificate. Seems java client accept it but not the golang http client which is stricter. I'm looking for a workaround to permit it in insecure configurations

[2018-02-12 20:50] JeromeSi commented on #181
In this log, you find the golang error... I'm learning about it.
The certificate are self signed

[2018-02-12 20:58] nerzhul commented on #181
@JeromeSi i'm trying to reproduce the problem

[2018-02-12 20:59] nerzhul commented on #181
can you give me the public certificate of your server by mail (contact at unix-experience.fr) i will analyse the SSL issue on it

[2018-02-12 20:59] JeromeSi commented on #181
wait a minute

[2018-02-12 21:28] nerzhul commented on #181
For your usecase with SSL, regenerate a proper certificate with proper SANs (IP/DNS names)

First generate the following openssl.cnf file

[code]

Replace DNS entries with yours if you have it, and IP with yours. (if you have 3 IPs, add IP.3 = A.B.C.D)

Next regenerate a private key

[code]

And generate a signing request

[code]

Last generate the certificate

[code]

If all succeed, verify the c

[2018-02-12 21:43] nerzhul commented on #176
nice. Can you retry with the version 2.0.1 please, the HTTP part has been rewritten in golang and should be more interesting

[2018-02-12 21:49] JeromeSi commented on #181
I've got new certificate...
a space missing in
"openssl req -new -out nextcloud.csr -key nextcloud.key -config openssl.cnf"

[2018-02-12 21:58] nerzhul commented on #181
i also just released 2.0.2 to show the SSL issue properly in android

[2018-02-12 22:03] JeromeSi commented on #181
mmh. I replace my old certificate by new in my configuration, I reboot my server and no access to my owncloud...

[2018-02-12 22:07] nerzhul commented on #181
Just check your apache/nginx logs it should show you a SSL issue on the startup i think, maybe you inverted key and cert

[2018-02-12 22:17] JeromeSi commented on #181
ok. You're right.
I've got the same error...

[2018-02-12 22:19] JeromeSi commented on #181
I don't know the line command to update my git repository on my hard disk...I'm searching

[2018-02-12 22:35] JeromeSi commented on #181
Different issue but error
![capture du 2018-02-12 23-34-00](https://user-images.githubusercontent.com/13288010/36123553-5dcb7998-104d-11e8-86ae-2f975eb773b9.png)

[2018-02-12 22:37] nerzhul commented on #181
at least 2.0.2 really permits to show the certificate error, i should look at this issue asap but i'm tired :)

[2018-02-13 18:27] JeromeSi commented on #181
With app 2.02 on emulated device android 6.0
When I select add an account, I have got this error in logcat :
02-13 19:20:11.396 2875-2911/fr.unix_experience.owncloud_sms E/Surface: getSlotFromBufferLocked: unknown buffer: 0x9f2c3f20
After write server address, login and password, the app crash

[2018-02-13 18:35] JeromeSi commented on #181
But "work" (don't crash when click o Sign in) on other emulated device
Classical error : 02-13 19:32:33.119 3428-4638/fr.unix_experience.owncloud_sms I/GoLog: Get https://192.168.1.253:4433/index.php/apps/ocsms/get/apiversion?format=json: x509: certificate signed by unknown authority

[2018-02-15 08:11] Idix opened #182 "Error while doing full sync"
### Steps to reproduce
1. Reinit synchronisation cursor on account
2. Start a synchronisation

### Expected behaviour
SMS messages should be synchronised to the owncloud instance

### Actual behaviour
* No synchronisation is occuring.
* Application is showing a synchronisation popup every 5 seconds.

### Server configuration

**Nextcloud version:** Nextcloud 12.0.3
**OCsms version:** 1.21.2

**PHP

[2018-02-15 20:40] nerzhul commented on #182
hello
the sync popup is the real sync cursor popup is shown on each transfer to server.
I don't see any error in the log you shown, all seems good.

[2018-02-16 15:27] JunkyardCat commented on #176
@nerzhul here is the error i receive
Low level error: Get https://XXX.XXX.X.XXX/index.php/apps/ocsms/get/apiversion?format=json:x509: cannot validate certificate for XXX.XXX.X.XXX because it doesnt contain any IP SANs

[2018-02-16 17:30] Idix commented on #182
Hi,

I have two problems with this :
- No message is actually synchronised to the nextcloud instance whereas some should be ;
- The application is trying every 5 seconds to synchronise to nextcloud without success until I kill it.

Thanks,
Idix

[2018-02-17 16:39] Idix commented on #182
Hi,

After some digging I found why the messages don't get synchronised. The application is sending the messages with a negative timestamp.

Here is an extract received by nextcloud, numbers and messages have been removed.

[code]

[2018-02-17 17:12] nerzhul commented on #182
@Idix interesting output, seems to be a underflow somewhere on the client, or a conversion error.

[2018-02-17 17:38] nerzhul commented on #182
I pushed 2.0.3 tag, it will be pushed to play store soon. I think it's a conversion issue between gomobile & java, due to the 32b part in golang, not date is correctly in 64b

[2018-02-17 17:48] Idix commented on #182
Thanks @nerzhul, any chance that you send me the build in some manner ? I don't have the play store on my phone (no gapps) and f-droid takes a week or so to push an update.

[2018-02-18 11:18] Idix commented on #182
Hi @nerzhul, it was indeed an issue with underflow of the timestamp.
I still have another problem but I will open a new issue for it.

[2018-02-18 11:18] #182 closed

[2018-02-24 11:05] CapSel opened #183 "Can't restore messages from server to a new phone."
### Steps to reproduce
1. add account in App
2. select restore all messages

### Expected behaviour
All messages should be downloaded from server.

### Actual behaviour
Just fast message in green about success.

### Server configuration

**Nextcloud version: 13.0.0**

**PHP version: 7.0**

**Webserver: apache-2.4.6**

**HTTPS:certbot**

### Client configuration

**Android version: 7.1.2**

**Phone

[2018-02-25 16:38] nerzhul commented on #183
Can you look at your apache/nginx access logs and show me the call logs for the restore period please ?

[2018-02-27 21:42] CapSel commented on #183
[code]
This the only line in apache logs - nothing more in error_log or access_log.

There are no logs in admin panel of nextcloud related to ocms.

[2018-02-28 08:50] nerzhul commented on #183
The call sounds to be good in terms of call, return code and size. Can you look at the response body in a tcpdump or anything else ?

[2018-02-28 11:26] CapSel commented on #183
I'll try to temporarily disable SSL this evening (eta 7h).

[2018-02-28 13:57] Artiom-M opened #184 "Certificate signed by unknow authority"
On the login screen Low level error is shown (see screenshot)

I have the authority certificate for this server loaded into the phone nextcloud app and various sync apps are working without any issue.

### Server configuration

**Nextcloud version:**
13

**Android version:**
6

**Phone:**
Samsung
**Nextcloud SMS app version:**
Latest from F-Droid
![screenshot_20180228-134548](https://user-images.g

[2018-03-01 21:36] nerzhul commented on #184
Hello,
this problem is when you have a self signed certificate which doesn't include the servername in its fields. It's due to Golang stronger and non removable securities on certificates

[2018-03-01 23:28] CapSel commented on #183
There is a valid json like this:
[code]

Some chars looks like this: "pu\u015b\u0107"

Request and headers:
[code]
types are only "1" and "2"
mailboxes are "0" and "1"
not all addresses are numbers - some are names
some msgs are multiline
There are exactly 500 messages there.

I don't want to paste sms content here.

[2018-03-01 23:40] CapSel commented on #183
Oh and ids (like "123456") are not ordered/sorted.

[2018-03-02 08:40] nerzhul commented on #183
Thanks for the dump. Ordering is not important. For the chars you mentioned it's UTF-8 encoded.

[2018-03-02 13:21] Artiom-M commented on #184
What fields should contain server name? My certificate does contain server name in CN and DNS fields.

[2018-03-02 13:29] nerzhul commented on #184
@Artiom-M then it's good... hmm did you use a CA ?

[2018-03-02 13:52] Artiom-M commented on #184
Yes

[2018-03-03 18:35] e-alfred opened #185 "App does not sync new SMS, synchronization cursor has to be reinitialized every time"
### Steps to reproduce
1. Set up Nextcloud SMS app with an account
2. Recieve SMS

### Expected behaviour
SMS should be synced to Nextcloud and show up in the Nextcloud SMS app.

### Actual behaviour
SMS aren't synced (saying "Nothing to sync"), synchronization cursor has to be reinitialized, then a sync works. See issue https://github.com/nextcloud/ocsms/issues/215. Tested with two different phon

[2018-03-05 08:24] w0k3 commented on #183
Same issue here, anything I can do to help resolving it?

[2018-03-07 10:36] nerzhul commented on #183
@w0k3 i need to verify the restore algorithm to ensure messages are correctly ingested by the client. I notice the app version is quite old. Can you use 2.0.3 ?

[2018-03-07 10:46] w0k3 commented on #183
I am using version 2.0.3 on Android 8.0.0. I can see hundreds of messages in nextcloud web interface /apps/ocsms, but in my new phones there are 0 of them. If I try to restore all SMS, I set the permissions and default SMS app, a spinner shows up for about a second, then a successful message shows for a fraction of second and then I see the button again. No messages are restored.

[2018-03-08 12:16] mich04 commented on #176
![phonesyncerror](https://user-images.githubusercontent.com/11555892/37150616-ff5f3586-2297-11e8-8745-c172843ed79f.png)

I am receiving the same error at first I thought it was because I was using a self-signed certificate but than I acquired one from Let's Encrypt. I am running Android 8.1.0 with Nextcloud SMS 2.0.3, My server is nginx-1.12.2-2,  nextcloud-13.0.0-1, and Phone Sync  1.12.2 (ocsms)

[2018-03-08 13:27] nerzhul commented on #176
hello @mich04 here it seems your phone is not connected or cannot resolve the server address, ensure your DNS name is correctly configured (use the android web browser to test it)

[2018-03-12 14:04] gorn opened #186 "Can not synchronize sms over https"
### Steps to reproduce
1. Switch nextcloud server to https
2. try to set new account in ownCloud-SMS-App using https://nextcloud.example.com url
3. syncronize SMS

### Expected behaviour
The synchronization should work (as it worked before switch to https)

### Actual behaviour
Error is returned, dee the debug.txt info

### Server configuration

**Nextcloud version:** 13.0.0

**PHP version:** 5.6.

[2018-03-13 21:07] nerzhul commented on #186
Hello
thanks for your logs but it's calendar client logs and it's the SMS app, i think you give us the wrong logs

[2018-03-13 21:26] gorn commented on #186
OK, I admin I am completely confused. I did try to use DAVdroid account instead of SMS app one. My apologies

[2018-03-13 21:26] #186 closed

[2018-03-18 10:12] nerzhul commented on #183
Okay i can reproduce it, i'm trying to find the issue

[2018-03-18 10:28] nerzhul commented on #183
Partially fixed by https://gitlab.com/nerzhul/ncsmsgo/commit/c518f33c218604620ce02e2eb26beb8100adcc27

[2018-03-18 10:37] nerzhul commented on #183
Another fix
https://gitlab.com/nerzhul/ncsmsgo/commit/4e143a9262e0eef446f5d54d7615647e97204e0c

Basically it's date issue, 32b vs 64b, i'm fixing the issues currently

[2018-03-18 10:38] nerzhul commented on #183
This repo commits:

7af398786efacbbd5f2345017bcaff427ac98324
15c9617a2b00a01fe5570f6e4cb46c99a1cee9c3

[2018-03-18 11:26] nerzhul commented on #183
It's now fixed. 2.0.4 will be release asap

[2018-03-18 11:26] #183 closed

[2018-03-18 18:05] WNYmathGuy opened #187 "[Wiki Info Request]"
Hi, this review was me:
[https://play.google.com/store/apps/details?id=fr.unix_experience.owncloud_sms&reviewId=Z3A6QU9xcFRPR0YtdXpGZFVDcXdob3FYMUluRndrQVdTb0VDLTVadUxWSklLS2MweVIwb2tfT2RWaHZsTmcxeGV0ZlFmcWNBR3FwdGl3OWEwV3d1b3BpTHJv](https://play.google.com/store/apps/details?id=fr.unix_experience.owncloud_sms&reviewId=Z3A6QU9xcFRPR0YtdXpGZFVDcXdob3FYMUluRndrQVdTb0VDLTVadUxWSklLS2MweVIwb2tfT2RWaHZ

[2018-03-18 20:40] w0k3 commented on #183
Thank you @nerzhul, will test it asap.

[2018-03-19 07:27] nerzhul commented on #187
Hello @WNYmathGuy thanks for publishing a comment here too.
Many users requested various backends, it's not easy, and generally closed backends are here because Google and others doesn't want anybody to get its messages through third party apps.

[2018-03-19 18:14] w0k3 commented on #183
I've made a debug build of 2.0.4 and installed to phone, sadly, I am still unable to download old messages to my new phone. Are there any log files I can check?

[2018-03-19 22:38] w0k3 commented on #183
Yes of course, thanks.

[2018-03-20 03:39] WNYmathGuy commented on #187
Thanks @nerzhul I'm trying to "_pull myself out of the matrix_" so to speak. Is there a way I can upload old text messages into your interface on my private NextCloud server and have your mobile app be the sole client of SMS/MMS from now on? I can easily see replacing all of the Hangouts features with NextCloud Talk, but my _luddites_ on SMS are an issue for me. [Google Takeout](https://www.youtub

[2018-03-26 13:03] JunkyardCat commented on #176
@nerzhul

I just recently updated and got this error Low level error: Get https://192.XXX.X.XXX/index.php/apps/ocsms/get/apiversion?format=json:x509: cannot validate certificate for 192.XXX.X.XXX because it doesnt contain any IP SANs

what does that mean

[2018-04-06 08:27] JunkyardCat commented on #176
@nerzhul or anyone know what my error i posted earlier mean?

[2018-04-06 19:43] livingsacrifice commented on #181
I'm getting same error as JeromeSi for unknown authority. Is it possible to add option to ignore this issue. Other apps (eg, Davdroid, Nextcloud) don't complaining about the certificate.

[2018-04-13 09:50] stefan-niedermann opened #190 "[design] simplify settings"
The settings are currently way too complicated for people who just want to sync their stuff from phone to their cloud instance.

- [ ] Merge all "Sync via W-LAN / LTE / UMTS / GSM / GPRS" into one switch (not checkbox) "Sync only via W-LAN", because what is the purpose of a sync app, if it does not sync? Sync should always be performed when on W-LAN and just check optionally if user wants to sync

[2018-04-13 10:00] stefan-niedermann opened #191 "[design] remove drawer"
- [ ] the main activity should display the content of "My Accounts"
- [ ] The content of the main activity should be in a swipe to refresh layout, which replaces the "Sync Now" entry of the drawer
- [ ] The "add account" entry of the drawer should be moved into a floating action button displayed at the main activity because it is the most important interaction a user will have with the app
- [ ] T

[2018-04-13 10:07] stefan-niedermann opened #192 "[design] my accounts"
- [ ] simply rename it to "Accounts" because "MyAccounts" sounds like Stackoverflow :yum:
- [ ] remove the `>` character after the account name
- [ ] display username in first line and the nextcloud instance on second line
- [ ] display people icon on the left side of each account

![grafik](https://user-images.githubusercontent.com/4741199/38729359-04726772-3f13-11e8-998a-778c92fd0eca.png)

![img

[2018-04-13 10:10] stefan-niedermann opened #193 "[design] account actions"
Use icons next to the actions that are available. These could be

- [ ] "Restore all messages"

![grafik](https://user-images.githubusercontent.com/4741199/38729478-68f0859e-3f13-11e8-8991-fb9e8eb9a52d.png)

- [ ] "reinitialize synchronisationcursor"

![grafik](https://user-images.githubusercontent.com/4741199/38729507-7b9f616a-3f13-11e8-80e9-d8322d7bafea.png)

- [ ] find better wording for "reini

[2018-04-13 10:12] stefan-niedermann opened #194 "[design] add account"
Can one directly select the Nextcloud SMS account type? Honestly, i clicked like 5 times "Nextcloud" because this is what i wanted - and i was confused every time when it said "There IS already this nextcloud account on your phone" - until i noticed i had to choose "Nextcloud SMS"......

Maybe you can even reuse the new Login-Flow from the files app, we will try to adapt it to the Notes android ap

[2018-04-13 10:13] stefan-niedermann opened #195 "Design Review"
Dear @nerzhul,

i would like to do a little design review of the android app, because i think there are some points that could be improved in the user interface.

I will use this issue to track the different issues i will find, so we have a quick overview. Of course not everything has to be implemented, this is just my humble opinion :yum:

- [ ] #190 simplify settings
- [ ] #191 remove drawer
- [

[2018-04-14 19:37] stefan-niedermann opened #197 "Play Store entry"
Some recommendations (you do not have to follow of course, like always):

1. Use new [ic_launcher-web.png](https://github.com/nerzhul/ownCloud-SMS-App/blob/master/src/main/ic_launcher-web.png) to align with the other apps.
2. The "c" in Next**c**loud is lower case, you should change it to "Nextcloud"
3. (Just a maybe:) You are calling the app "Phone Sync" - Why is it still "SMS" on Play Store?
4.

[2018-04-17 22:36] e-caille opened #198 "Can't restore SMS on a new phone"
### Steps to reproduce
1. Have an existing Nextcloud account with SMS on the server
2. Add account in App
3. Give permissions and click on Restore my SMS in the app

### Expected behaviour
SMS should be restored from server

### Actual behaviour
Nothing happen

### Server configuration

**Nextcloud version:** 13.0

**PHP version:** 7.2.2

**Webserver:** apache 2.4.33

**HTTPS:** yes, certbot

###

[2018-04-20 21:57] nerzhul commented on #198
Hello, thanks for the pointed. I think there is a mismatch in JSON types in the API which was hidden by java serialization before, but golang serialization is more strict, and that should be fixed in server part

[2018-04-22 19:05] GraveChaos commented on #184
I'm also experiencing this with a certificate signed by my own CA.  The root and intermediate CA certificates are loaded into the android trust store (as User CAs, the phone is not rooted).
I believe the certificate is OK - the server name is in both the Common Name and also as a Subject Alternate Name.
If I replace the server certificate with one from LetsEncrypt then I can sign in OK in the Next

[2018-04-23 05:51] deaddivest commented on #185
same here.. anyone?

[2018-04-23 07:08] stefan-niedermann commented on #195
@nerzhul if you are fine with those suggestions, i might do some of the smaller tasks an provide PRs. I just want to make sure that i do only changes that you will accept.

[2018-05-01 15:53] marskl commented on #184
Are there any plans to get it running with self signed certificates?

[2018-05-05 17:37] 9662 commented on #185
For me, even reinitialising the cursor does not work. Nothing has been synced since February.

Running 2.0.4 on two phones, 1.12.2 on NC13.0.1

[2018-05-08 07:03] nerzhul commented on #185
Sorry, i got some problems IRL and i didn't get time to fix that issue, will look at this problem asap

[2018-05-17 07:11] nerzhul commented on #198
issue solved by publishing server app 1.12.6, please update

[2018-05-17 07:11] #198 closed

[2018-05-17 23:59] hackitz commented on #181
Can you not add the option to allow less secure certs? Like foldersync

[2018-05-30 22:12] nn10nn10 commented on #185
Also having this issue. I thought I was doing something wrong and kept rechecking all settings and my nextcloud setup.

Looking forward to that fix :)

[2018-05-30 22:19] deaddivest commented on #185
Please clarify (someone), is this problem affect everyone or just a few users?

[2018-05-30 23:00] nn10nn10 commented on #185
Reading over the comments I believe it is an issue everyone is having. @nerzhul said that he hasn't had time to fix the issue yet so I think he knows what's going on.

[2018-06-04 00:18] 9662 commented on #185
For info, as of 1.12.7 sync is working again. Thanks! :+1:

[2018-06-04 21:45] #185 closed

[2018-06-04 21:45] nerzhul commented on #185
please update to last release

[2018-06-05 08:46] e-alfred commented on #185
Works now, thanks!

[2018-06-21 19:54] cpu20 commented on #184
I implemented a [workaround](https://gitlab.com/cpu20/ownCloud-SMS-App-Fork/tree/master) for this problem. In this version I used a checkbox to disable ssl certificate checks. This is not the best way to do it, the best option would be to accept the self signed certificate after inspection and do this for every new self signed certificate. But to do this would require to edit the ncsmsgo files and

[2018-07-03 18:54] catscarlet opened #199 "[Restore all messages] doesn't work on Android 8 (Maybe also doesn't work on 7.1.2)"
Hello. Here is the story:
(If you think the story is too long, just read the Steps part)
I bought a new phone. Sony XZ1, the system is Android 8.0.
I synced my SMS from my old phone, and checked on the nextcloud web page. It was successful done.
Then I tried to restore them to my new phone.
But when I check my new phone, nothing is in the sms list. While I clicked the button [Restore my SMS], a te

[2018-07-03 18:59] catscarlet commented on #199
I just forgot to say that:
The new phone can still upload(definitely not sync) new SMS to server, and my old phone (Android 4.4) can use [Restore all messages] to download those SMS.

[2018-07-03 19:04] catscarlet commented on #199
Oh, sorry, I just saw
[code]

So it doesn't support 7.1+ and 8.0 yet?
Is there a schedule about when will it support?

[2018-07-03 21:57] nerzhul commented on #199
hello,
app hasn't been released since Android 8.0, i don't know if there is something to change currently, if the previous restoration behaviour has been dropped a compat part should be added

[2018-07-04 02:45] catscarlet commented on #199
Please support Android 8.0. Thank you.

[2018-08-01 02:54] vwbusguy opened #200 "SMS from Google voice"
### Steps to reproduce
1. Setup nextcloud account
2. Sync SMS
3. Only carrier numbers are synced

### Expected behaviour
Google voice is setup on my phone as the main SMS and call number. I rarely give out my carrier number or receive texts that way. The app would be much more useful if Google voice SMS through the phone was also sync'd.

### Actual behaviour
SMS via Google voice number is ignored

[2018-08-08 08:56] nerzhul commented on #200
we actually read SMS from android SMS store, not sure we can do it on other providers, they tend to protect their things

[2018-09-21 15:46] tarpin commented on #158
Is there any progress?

[2018-09-25 19:28] swedneck commented on #184
I'm using a letsencrypt cert and i'm encountering the same problem.

[2018-09-26 08:29] nerzhul commented on #184
@cpu20 you are using a very old ocsms version
@swedneck you should configure your SSL chain on your nginx/apache to provide the chain to the client

[2018-09-26 09:53] swedneck commented on #184
I'm not sure what you want me to do, as i have ssl certs configured and working perfectly well for all other applications. Nextcloud SMS is the only app which complains about certificates.

[2018-09-26 10:30] swedneck commented on #184
My bad, turns out nginx was using cert.pem instead of fullchain.pem for some reason.

[2018-10-19 20:59] cpu20 commented on #184
@nerzhul The version I modified was pulled directly from the master branch. I don't see why I would be using an old version?

[2018-11-09 11:45] aguytech opened #201 "after sync, no data in DB"
### Steps to reproduce
1. install ocsms 1.13.1 in nextcloud 14.0.3 on debian 9
2. install ownCloud-SMS-App 2.0.4 in android 4.x
3. create an account successfully
4. launch a synchronization with successfull end
5. nothing in DB

### Expected behaviour
data in nextcloud DB, in tables ocsms_*

### Actual behaviour
but NO data in nextcloud DB in tables ocsms_* ??

### Server configuration

**Nextclou

[2018-11-19 15:21] Disciplus86 commented on #184
@SiteMaster1 i have the same problem :
wildcard with let's encrypt with pfsense (ACME) *.XXXX.fr
Name for nextcloud: nextcloud.XXXXX.fr
NextCloud 14
Android 8 (lineageos)

No problem with the application nextcloud & nextcloud talk from F-DROID

@nerzhul wildcard let's encrypt is not supported by Nextcloud SMS (2.04)?

[2018-11-20 08:08] nerzhul commented on #184
@Disciplus86 it's supported because it's golang library support and i'm sure it works, else many binaries in the world will not work, but you should configure the SSLCertificateChain on your server side

[2018-11-20 09:59] Disciplus86 commented on #184
Thx @nerzhul  but my reverse proxy on my firewall (pfsense) generate the wildcard let's encrypt certificate, not the nextcloud, nextcloud use an autogenerate certificats.
Pfsense will replace the certificate for the client (like a man in the middle ;-) ).

[2018-12-04 18:53] rakekniven opened #202 "Unwanted string at Transifex"
Following string should not be imported and listed at Transifex:

https://github.com/nerzhul/ownCloud-SMS-App/blob/8a628abb2918e5d04f1a478a951f0e781b0bb6ed/src/main/res/values/strings.xml#L45

Please adapt your sync to Transifex.

Reported at Transifex.